[2022-06-11 20:04] celalanak opened #1 "Sektör Değiştirme için en güzel tavsiyeniz nedir?"
Hocam merhaba,

Ben 10 senedir sistemciyim (MCP, MCSA) :) yazılıma yönelmek istiyorum, kafamda efsane projeler var, ama işin işinden bir türlü çıkamıyorum, sizin ağzınızdan çıkacak söz benim için çok önemli, Celal buraya yoğunlaş başka bir şeyle uğraşma, gibi.

Zaman ayırıp cevaladığınız için şimdiden çok teşekkür ederim.

[2022-06-11 20:16] VB10 commented on #1
Selamlar
Sistem tarafında benim arkadaşlarım var ve genel olarak algoritmik yapı oluyor sizlerde benim bildiğim gördüğüm. Burada çok yöntem var ama benim önereceğim ve safe olan önce bir front end başlamak. Neden

- Bir ön yüz işi almak her zaman içi kolaydır misal bir websitesi bir mobil uygulama olur ve front enddeki kalite bir nebze gözden gelibenbilir
- Backend tarfına geçmek yani database vs

[2022-06-11 20:16] #1 closed

[2022-06-11 20:18] VB10 commented on #1
dil olarak da js,dart bunların onune dart react öğrenebilir çok hızlı işler için @celalanak

[2022-06-11 20:19] celalanak commented on #1
Hocam, çok teşekkür ederim. 🙏 🙏 🙏

[2022-06-12 08:46] aea91 opened #2 "(FLUTTER) Base View modelinde loading senaryosu"
Tüm sayfaları BaseView den türettiğimizde loading işlemini de baseview i manipüle ederek yapmak hakkında ne düşünürsünüz mantıklı mıdır önerir misiniz?

1. Tüm sayfalar baseview den stateless olarak türetilir.
2. Loading işlemi tek yerden baseview de yürütülür (Provider ile)
3. Future işlemler BaseView ile gelen init mehodunda yapılır öncesinde ve sonrasında loading true false ile tetiklenir.

***

[2022-06-12 15:01] MehmetKaranlik opened #3 "(Swift) CoreData'da generic + Multithreaded işlemler"
Hocam Swift'te CoreData için generic bir manager yapısı kurdum işte singleFetch & multipleFetch vs gibi featureları bulunduran

[Manager linki](https://github.com/MehmetKaranlik/CoreDataManager/blob/main/CoreDataManager/CoreDataManager/Manager/CoreDataManager.swift)

Burada ki fonksiyonları daha performant hale getirmek için multi-thread kullanmak istiyorum var mı tavsiyeniz ?

[2022-06-12 15:22] VB10 commented on #2
Şimdi bu noktada tabi çok yöntem olaiblir baseview ile sayfaları türetip burada method kazandırmak evet iyi bir çözüm olabilir ama şöyle olursa misal

Loadıng {
future request
loading widget

build method {
isloading? cirprgr : child.
}

buradaki child disardan gelir yani senin generic uretigin misal
},

Ikinci olarak sayfa uzerinde yapmak aslinda su sekildede olabilir network layerine yzilir bura

[2022-06-12 15:22] #2 closed

[2022-06-12 15:25] VB10 commented on #3
acikcasi bunu benim projelerimde genelde single thread gittigimden burada dikkat ettigim bu isleri backgorundda yapmak oldu hep. paralel db istekleri yapmakla cok calismadim ama bu yaziya bakabilirsin

https://ali-akhtar.medium.com/mastering-in-coredata-part-11-multithreading-concurrency-rules-70f1f221dbcd

[2022-06-12 15:25] #3 closed

[2022-06-12 16:57] ofsemiz opened #4 "Yazılıma Başlarken"
Selamlar Veli Hocam,

Şu anda Network Mühendisi olarak çalışmaktayım yazılım alanında ilerlemek istiyorum fakat şunu farkettim, şu ana kadar izlediğim kurslarda çok fazla bilgi kirliliği var. Hiç birinde yazılımın temel mantığı, temel konseptleri anlatılmıyor. Benım amacım mantığı öğrenmek ne bilim algoritma nedir veri yapıları nedır, nesne yönelimli programlama nedır nerelerde kullanılır vs. Kurs

[2022-06-12 18:00] VB10 commented on #4
Selamlar
Kitap konusunda tr sektorunde tek kitap bilirim sefer algan her yonuyle c# bunu okuyabilirsin,
Egitim olarak ise onerim basit algortima kurma adina java veya c# gibi alanlarda ilerlemek akabininde biraz front end teknlojlieri ile eger mac varsa swfit mobil  js react dart flutter gibi bunu pekistirmek.

Bu konularda o kadar yabanci content varki ozellike buralar igormek misal egghead gibi

[2022-06-12 18:00] #4 closed

[2022-06-12 19:39] muhammedakyuzlu opened #5 "BuildContext isn't a valid override of 'Store.context'"
[flutter-architecture-template](https://github.com/VB10/flutter-architecture-template) serisinde
settings_view_model.dart
abstract class _SettingsViewModelBase with Store, BaseViewModel {
}
bir hata aliyorum ayni anda Store ve BaseViewModel with   edemem

HATA BU
abstract class BaseViewModel
package:start/core/base/model/base_view_model.dart
'BaseViewModel.context' ('BuildContext? Function()') isn

[2022-06-13 07:08] VB10 commented on #5
bu hqatanın yeri arcihtecture template repoosu burada buna gerek yok ikincisi çözüm olarka var olan arcihtecture templaeti clone edersen direk çalıştığını göreceksin

[2022-06-13 07:08] #5 closed

[2022-06-13 07:27] ibrahimcss opened #6 "IOS Background Task Calistirma Sorunu"
Merhaba veli hocam, background tasklarda flutter ile bir cozum bulamayinca native olarak swift ile bir kac denemem oldu ama arka planda 10 dakikada bir mesaj gonderme islevi yine basarisiz ios background'da kill ediyor. Apple tarafinin dokumanlarida bu konu hakkinda imkansiz oldugunu belirtiyor,
sizler background tasklar hakkinda bir gelistirme yaptinizmi ios tarafinda ? yada native olarak'ta peri

[2022-06-13 07:46] mehmetsahakar opened #7 "Apple Store Yayımlama kriteri"
Merhaba Hocam,

Sizin deneyimlerinizden yararlanarak sormak istiyorum,
(Genelde sizin videolarda material kullandınız)
Flutter projesinde material ı kullandım (cupertino yu kullanmadım), merak ettiğim durum şu apple store sıkıntı çıkarır mı acaba?
Sıkıntı çıkaracaksa material ı cupertino ya çevirmek çok zor sanki, pratik yöntemi var mıdır?
Çok teşekkür ederim.

İyi çalışmalar.

[2022-06-13 07:49] VB10 commented on #6
Selamlar
Bu doğru bir done doğrudan bir app'i arka tarafta anroid gibi bacgkrund task yapmana izin vermiyor apple bunun iki yöntemine sadece ok veriyor
- Music app veya Map app olacak

Diğer nokta bunu Workmanager ile yapabilirsin ama ios tarafında bu 10dk'nın net bir karşılığı yok genelde 1h da atar 10dkda atar yani orada bir netlik yok
https://pub.dev/packages/workmanager

Birde bu silent notifi

[2022-06-13 07:49] #6 closed

[2022-06-13 07:53] VB10 commented on #7
Tasarım konusunda apple tarafı sorun çıkartmıyor genel olarak kullandığın pratice senindir ama
- Misal ekran görüntüsü koyarken apple telefon olması
- Misal google signin vvarsa apple signin olmalı gibi konulara takılıyor

Eğer platform spesific çözümler ekleyeyim dersen bu paketti gibi yapabilirsin
https://pub.dev/packages/flutter_platform_widgets

[2022-06-13 07:53] #7 closed

[2022-06-13 15:20] aea91 opened #8 "IOS Simülatörde problemsiz çalışan uygulamanın canlıda çalışmaması"
Uygulama debug halinde IOS Simülatörde sorunsuz çalışıyor.
iPhone 6s Plus ta problem çıkarıyor view ler iç içe girmiş halde gözüküyor.
Firebase Crashlytics the bir sorun gelmiş değil.
Sorunun kaynağını nası bulabilirim?
Teşekkürler

[2022-06-13 15:26] VB10 commented on #8
6s plus emulatoru indirip uygulamayi test edebilirsin bunun icin xcode uzerinden  daha dusuk bir model ios 13 vs indirip kurarsan o emulator gelecektir.

View patlama sorunu ise genel olarak kullanilan paketler vs ile dogru orantili olabilir bu debugu device uzerinde yapip anlayabilirsin veya https://pub.dev/packages/device_preview ile uygulamanin sizelerine bakabilirisn
<img width="942" alt="imag

[2022-06-13 15:26] #8 closed

[2022-06-13 18:33] aea91 commented on #6
Silent notification gelir gelmez konumu alıp bir kaç sorgu yapıp sonra post edebilir miyiz? Burada yapabileceğimiz işlemlerin bir sınırı var mı? Teşekkürler

[2022-06-13 18:34] aea91 commented on #8
Teşekkür ederim.

[2022-06-14 07:45] shahmirzali49 opened #9 "[Flutter] Reduce shader compilation jank"
Flutter'ın ilk yüklenmede takılmalara böyle bir  çözüm sunmuş. -> **https://docs.flutter.dev/perf/shader**

benim sorum bu addımları yaptıktan sonra **IOS**  tarafda markete atma kismi.

 docta `flutter build ios --bundle-sksl-path flutter_01.sksl.json` boyle bir komut calistirmamizi istiyor. calistirdiktan sonra Runner.app diye bir sey olusturuyor. runner.app la da birsey yapamiyoruz. simdi sorum

[2022-06-14 08:28] tunahanugrasir commented on #4
Hocam merhabalar, benim 2 küçük kardeşim var. Biri 7. sınıfa geçecek diğeri liseye geçecek. İkiside benim gibi bilgisayar mühendisliği okumak istediklerini söylüyorlar ama sadece lafta böyle. Ben abileri olarak onlarında yazılıma ilgi duymalarını istiyorum. Gün boyunca hep bilgisayar başındalar ama hep boş şeylerle uğraşıyorlar. Onları nasıl yönlendirebilirim ne gibi kitaplar videolar sağlayabilir

[2022-06-14 08:35] tunahanugrasir opened #10 "Çocuklar için nasıl bir yol izlenmeli"
Hocam merhabalar,

Benim 2 küçük kardeşim var. Biri 7. sınıfa geçecek diğeri liseye geçecek. İkiside benim gibi bilgisayar mühendisliği okumak istediklerini söylüyorlar ama sadece lafta böyle. Ben abileri olarak onlarında yazılıma ilgi duymalarını istiyorum. Gün boyunca hep bilgisayar başındalar ama hep boş şeylerle uğraşıyorlar. Onları nasıl yönlendirebilirim ne gibi kitaplar videolar sağlayabili

[2022-06-14 11:54] ibrahimcss commented on #6
anladigim kadari ile ya notification disinda herhangi islem yapamazsin, benimde gelistirdigim bir projede bacground task ile bazi datalari periodik olarak post etmem gerekli ama ios tarafi bacground tasklara izin vermiyor, trik olarak notification ile yapmayi planladim ama imkansiz

[2022-06-14 11:58] ibrahimcss commented on #10
basit olarak console uygulamalari ile baslamalari daha uygun olur, ekrana bir helloworld yazmalari bile ufuklarini acar basit algoritmalar ile bazi problemleri cozmeleri iclerinde sorgulama ve merak duygusunu uyandirir. low level dillerden birini secerek devam etmelisiniz.

[2022-06-15 07:15] ozkurtomer opened #11 "Web app hakkında görüşleriniz"
İstanbul ve diğer şehirlerde yaşanan taksi olaylarının bir arada toplanıp bir ortak havuz oluşturma amacıyla yapmış olduğum projem mevcut. Bu proje hakkında görüş ve önerilerinize beklerim. Şimdiden teşekkürler.
Link : www.taksipuanla.com

[2022-06-15 08:23] ozkanozcan commented on #10
Benim oğlum 14 yaşında liseye bu sene başlayacak. Biz programlamaya şu adımlarla başladık.

Önce ingilizce.
[English Central](https://tinyurl.com/batuhan-ingilizce) ile 1 sene boyunca her gün yaptığı birebir pratik sayesinde şu anda  C1 seviyesinde konuşabiliyor.

İngilizceyi halledince de programlamaya geçtik.

[1- Herkes İçin Temel Dersler - Patika.dev ](https://app.patika.dev/courses/herkes-ici

[2022-06-15 09:28] VB10 commented on #10
@ozkanozcan muthis ancak bence bir tik fazla bu kadar size tek tavsiyem tr de tutmayin yurt disinda calissin.

Benim kardesim 15 yasinda suan appstore da kendi uygulamasini yazdi projesi var kendi algortimasini uretiyor calisiyor.

- Bu yolda giderken 9 yasinda baslayan bir seruvende oncelikle strach microsft kodu ile basladik proje yazmayi ogrettim
- Her ilerledikce oyun oynadik oyunlara asina et

[2022-06-15 09:28] #10 closed, assigned to VB10

[2022-06-15 13:35] bahadirdal opened #12 "Flutter projesini mac cihaz olmadan ios da debug yapma"
Windows ta Visual studio da yazdığımız uygulamayı, app store'a yüklemeden, ios ta nasıl açabiliriz, bir yolu var mıdır?

[2022-06-15 14:32] MehmetKaranlik opened #13 "(Swift) Firebase+Github yetkilendirmede fonksiyonunu nasıl çağırabiliriz. Webview"
Firebase üzerinden github login eklemeye çalışıyorum side projeme.
Github logini WKWebView ile açıyorum. Fakat firebase'in fonksiyonunu nasıl handle edebilirim ?

<img width="1110" alt="Ekran Resmi 2022-06-15 17 26 44" src="https://user-images.githubusercontent.com/89414084/173852539-bdc16d0e-5063-4c0b-a444-14c2a405d1d8.png">

Ekran yukarıda ki gibi. Firebase dökümanına göre;

[code]
Bu fonksiyonu

[2022-06-15 14:36] teomankaratas opened #14 "Flutter işler hakkında ve muhendislik"
Veli hocam merhaba , sizin yayınladığınız işlere üniversite terk olarak başvuru yapılabilir mi ? Bitiremeyeceğim gibi duruyor bölümümden hiç memnun değilim (çevre mühendisliği)her sınav zamanı yaklaştığında  açıp daha azimli şekilde flutter çalışıyorum dersler yerine . B2 ingilizce var erasmus yaptım 4 ay portekizde yabancı kaynaklardan çoğu zaman çalışıyorum sizin videolarınız dışında .Bu arada f

[2022-06-15 14:54] VB10 commented on #13
bu soruyu  glitch firebase repolarina acsan daha iyi cevaplar alirsin ben sorunu anlamadim burada ama yine soylemis olayim firebase vs degil webview uzeirnde script atarak webview cookie vs okuma yapman lazim ardindan dogru cevabi gorunce webview kapatip yapaiblrisn

[2022-06-15 14:54] #13 closed, assigned to VB10

[2022-06-15 14:56] VB10 commented on #9
aslinda jank kismi son flutter 3 ile iyice cozuldu ozellikle bunu yapmadan flutter app'ini xcode uzerinden vs deploy edebilirsin store'lara. jank ozelinde bildigim upload ederken ozel bir detay yapmadan publish edeiblrsin

[2022-06-15 15:05] shahmirzali49 commented on #9
@VB10 malesef navigasyon kismi duzelmemis. ilk acildiginda halen takiliyor.

[2022-06-15 16:46] VB10 commented on #9
@Shahmirzali-Huseynov
https://github.com/flutter/flutter/issues/13065

[2022-06-15 16:47] VB10 commented on #9
@Shahmirzali-Huseynov buradan bakip bir daha dener misin metal olmadna build alip atmayi

[2022-06-15 18:14] shahmirzali49 commented on #9
@VB10 teşekkür ederim deneyip buraya geri bildirim olarak yazacagim. en azindan bu runner.app la ne yapmam gerektigini gordum ya o bile yeter )) 😅

[2022-06-15 22:15] tunahanugrasir commented on #10
Tavsiyeleriniz için çok teşekkür ederim.

[2022-06-16 00:37] erenkali opened #15 "Sertifika veren online eğitimler hakkında"
Makine Mühendisliği öğrencisiyim ama kendimi yazılım sektöründe geliştirmek, ekmeğini yemek istiyorum bunun için de https://www.kampus365.com sitesindeki eğitimler ve karşılığında verilen sertifikaların olduğu programlarla karşılaştım. Bu tarz sertifika veren eğitimleri önerir misiniz ne düşünüyorsunuz.

[2022-06-16 09:11] sorosons opened #16 "Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++. Could not send. Channel: id.flutter/background_service_android_bg. Response ID: 38"
Merhaba arkadaşlar
Kotlinde gelen bildirimleri anlık olarak alıp flutter trafına taşımak istiyorum ve uygulama kapalıyken bunları bir sql lite veya Sharedpreferencese kaydetmek istiyorum uygulama açıkken kotlin tarafında yazdığım kod sayesinde veriyi sağlıklı alabiliyorum ama uygulama kaplaıyken başlıktaki hatayı alıyorum (kotlin ve flutter tarafında backgorund service çalıştırıyorum )
şimdiden he

[2022-06-16 09:24] ozkanozcan commented on #15
Bir işveren olarak şunu söyleyebilirim ki personel işe alırken bu güne kadar eğitimine, yaşına veya aldığı sertifikalarına hiç bakmadım.  Sadece github hesabına, referanslarına, yaptığı işlere, geliştirdiği uygulamalara, yazdığı kodun kalitesine önem verdim. Sektördeki pek çok yer de böyle yapar.

Ülkemizde malesef ücretli eğitimde sertifika vermek çok karlı bir sektör haline gelmiş. Para tuzağınd

[2022-06-16 09:50] onurumsunx opened #17 "Programlama Dili Öğrenme Hakkında"
İngilizce bilmeden sadece türkçeyle iyi ve eksiksiz bir biçimde programlama dili  öğrenebilir miyim bunun için önerebileceğiniz herhangi bir kurs kaynak vs. var mı yoksa ingilizce öğrendikten sonra programlama dilini öğrenmeyi mi tavsiye edersiniz.Çalışmak veya kendini geliştirmeyle ilgili bir sorunum yok tabiri caizse köpek gibi çalışırım.

[2022-06-16 13:54] abdullahkaraboga opened #18 "Flutter File Download Directory"
Merhaba hocam,

Flutterda bir dosyayı /klasor/klasor/klasor/dosya.uzantı şeklinde spesifik bir directory'e download etmek istiyorum. Flutter bunu her iki platform için de destekliyor mu ?

[2022-06-16 13:59] VB10 commented on #18
Spesificten kasit tabiki app icerisinde application directroy veya temp olark birini secip altinda o klasorleri sen creat ede ede yapabilirsin. downloads routue altinda vb/ahmet/x.pdf gibi

https://pub.dev/packages/path_provider

[2022-06-16 13:59] #18 closed, assigned to VB10

[2022-06-16 14:14] VB10 commented on #16
bunu sessiz notifcaiton dedigimz yapiyla yapsan burada push ile locali updat edeiblrisin ozelllikle kotlin koduna girmeden hlalediblrisn gibi aslinda

`Future<void> _firebaseMessagingBackgroundHandler(RemoteMessage message) async {
  // If you're going to use other Firebase services in the background, such as Firestore,
  // make sure you call `initializeApp` before using other Firebase services.

[2022-06-16 14:20] sorosons commented on #16
Teşekürler cevap için gelen tüm bildirimler için bunu yapmak istiyorum ve uygulama kapalıyken gelen veriyi sql lite kayıt etmek istiyorum

[2022-06-16 19:18] Barismano commented on #17
Eğer ingilizce bilgin sıfır ise biraz zorluk çekebilirsin bunu sebebi türkçe kaynak sıkıntısı. Ama onun dışında başlangıç ve orta seviyede programlama öğrenebilirsin türkçe kaynak bir çok platformda mevcut ama komplike bir durumla karşı karşıya kaldığın zaman ingilizce kaynak okumak gerekebiliyor

[2022-06-16 19:25] Barismano opened #19 "Arkaplanda lokasyon gönderme"
Bir kurye uygulaması üzerine çalışıyorum kurye uygulamayı kapatsa bile 15 saniye aralıkla  kuryenin o anki konumunu database e göndermek istiyorum 3gündür bu konu üzerine çalışıyorum pub devde bulduğum pluginler ya hata veriyor yada sürümleri eski bunu nasıl yapabilirim?

[2022-06-16 21:01] VB10 commented on #11
eline saglik sitede material bir kac component gordum ama
- daha tatli bir ui tasarimi yapilabilir bunun icin upplabs tarzi siteler referans alinabilir
- sosyal medya loginler muhakkak olmali
- plaka girilen yerde bir regex olmali misal 34 numara olamak zorunda sonrasi karakter vs gibi
eline emegine saglik

[2022-06-16 21:01] #11 closed, assigned to VB10

[2022-06-16 21:02] VB10 commented on #12
selamlar soyle yapiyoruz app'i bitirdik diyelim ios da debug etmek icin dogrudan macstadium tarzi bir cloud platform satin alinarak burada app indirili buraya flutter entegrasyonlari yapilarak proje run edilip cikti gorulebilir.

Ios device bu konuda sart.

[2022-06-16 21:02] #12 closed, assigned to VB10

[2022-06-16 21:03] Barismano commented on #17
Bu arada Mate Translate diye bir chrome eklentisi var seçtiğin metinleri hızlı bir şekilde dil farketmeksizin çevirmeni sağlıyor ben zorlandığım yerlerde onu kullanıyorum tavsiye ederim

https://chrome.google.com/webstore/detail/mate-translate-%E2%80%93-translat/ihmgiclibbndffejedjimfjmfoabpcke

[2022-06-16 21:06] VB10 commented on #14
Benim ek olarak yaptığım işler genelde freelance kafasında oluyor orada bir mezuniyet vs aranmıyor ama sektorde kurumsal firmalarda mühendislik şartı var.

Burada bir çok arkadaş upworks tarzı sitelerde kendini yönlendiriyor motviasyon düşmesi çok normal iş bulmadığın için ama o zamana kadar public yazılar makeleler yapıp linkedinde güncel bir profille savaşına devam edebilirsin

Unutma ronaldo bu

[2022-06-16 21:06] #14 closed, assigned to VB10

[2022-06-16 21:14] VB10 commented on #15
Selamlar @ozkanozcan hocama çok katılıyorum.

Türkiyedki bir çok program yeni başlayan kişilerin cebindeki paraya göz dikmiş adeta ondan dolayı en büyük ve en kolay tavsiyem sürekli ingilizce içerikleri takip etmek bu konuda yotubuda da çok güzel içerikler var.
Ben hayatımda daha sertifikaya bakan bir şirket görmedim yazılım konusunda yurt dışında bir kaç agile sertifiklarına bakıyorlar onlarda pa

[2022-06-16 21:14] #15 closed, assigned to ozkanozcan, VB10

[2022-06-17 08:46] mertguven opened #20 "Marvel projesi inceleme"
Marvel API kullanarak yaptığım basit bir flutter projesi örneğidir. Projeyi inceleyerek eksiklerimi ve hatalarımı söyleyebilir misiniz?
Proje linki: [marvel_universe](https://github.com/mertguven/marvel_universe)

[2022-06-17 10:54] demirdev opened #21 "Mobil Uygulama geliştirirken geliştiricinin kâr yüzdesi ne kadar olmalıdır?"
1- Bir mobil uygulama geliştirirken sadece geliştirme ve yayınlama ile alakalı tüm işleri yapan bir geliştiricinin uygulamanın kazandırdığı kârdan ne kadar yüzde alması uygundur.

Bunun yüzdesi uygulamaya göre değişiklik gösterir fakat bir öneriye/görüşe ihtiyacım var.

2- Bu uygulamayı geliştirirken geliştirme karşılığı uygulama sahibinden ara ara ücret aldım. Bundan sonraki geliştirme işleri içi

[2022-06-17 14:20] kucukkaa opened #22 "[flutter] bottomsheet ve klavye kullanımı."
bir uygulama üzerinde çalışıyorum. bottomsheet üzerinde farklı sayılarda textformfieldlarım  ve diğer listtile elemanları var. bu fieldlara text girmek için tıkladığımda klavye açılırken bottomsheet constructor 'ı  yeniden çalışacak şekilde yenileniyor. ve listtile elemanlarının son stateleri bu sebeple kayboluyor. klavye kapanırken de yeniden sayfa refresh oluyor. araştırma yaptım ama sorunu çöze

[2022-06-17 14:40] sametteam06 commented on #22
2 gündür ben de aynı sorunla uğraşıyorum. bakmadığım yer kalmadı fakat çözüm bulamadım.

[2022-06-17 14:58] mdikcinar commented on #12
@bahadirdal Cihazına hackintosh kurabilirsin.

[2022-06-17 16:09] demirdev commented on #22
Merhaba @kucukkaa ve @sametteam06 , StatefulBuilder kullanmayı dener misiniz?
Kod paylaşabilirseniz yardımcı olmak isteyen arkadaşlar daha rahat çözebilir.

[2022-06-17 22:32] VB10 commented on #16
dedıgım gıbı eğer 1-1 to anlık olacaksa backgorund servist edinlemekte fayda var sqlite seklinde çalışmadığımdan bir şey eksik söylemek istemem ama bu firebasesin slient notificaton ypaısıyla kayıt aalbilrisn

[2022-06-17 22:32] #16 closed, assigned to VB10, sorosons

[2022-06-17 22:35] VB10 commented on #17
@onurumsunx selamlar
bir çok site alt yazı desteği veriyor aslında bu en başta çok işine yarayacktır misal pluralsight gibi siteler youtube dada var bunları bol bol kullan, paralel de ingilizceni teknik seviyede kavramlarla okuya okuya çevireceksin
,
Programlama dili öğrenme konusunda c# gibi java gibi yıllarını almış dillerle de başlayaiblir dart swift kotlin gibi dilin birini seçerek bu dilin st

[2022-06-17 22:35] #17 closed, assigned to VB10, Barismano

[2022-06-17 22:37] VB10 commented on #19
Selamlar @Barismano bu konu tabiki şöyle yapmanı öneririm. doğrudan bir platform seçersen misal android orada uygulamayı bacgkorund servis veya ile bağlayıp bunuda istersen flutterın pigeon ile bağlarsın native tarafadan o kodu çağrırsın.
https://pub.dev/packages/workmanager

Zira ios tarafı için bu işi yapmanın benim bildiğim yolu map uygulaması işaretleme ama backgorundda dineleme yapmaya ios ge

[2022-06-17 22:37] #19 closed, assigned to VB10

[2022-06-17 22:43] VB10 commented on #20
bir kaç isseu açtım ama genel olarak hoşuma gitti temiz tatlı olmuş eline emeğine sağlık

[2022-06-17 22:43] #20 closed, assigned to mertguven

[2022-06-17 22:46] VB10 commented on #21
Selam mehmet bu konualar tabiki projesine kişisine göre değişiklik gösterir ancak:
1- Projede mobil geliştirici eğer tüm proje'yi yazıyor backend firebase vs yapıyorsa o projede en az %30 luk bir hakkı olur bu bir yazılım birimidir
2- Eğer only mobile dev ise %10 12 yeterli olabilir
3- Burada yine projenin kapistesi belirlenmeli ilk versiyonlar böyle olabilir sonradan yine %10luk &8 lik bir stock

[2022-06-17 22:46] #21 closed, assigned to VB10

[2022-06-17 23:22] Barismano commented on #19
Selamlar Hocam "background_locator" adlı plugin ile çalıştırmayı başardım en sonunda uygulama kapatılsa bile plugindeki interval özelliği sayesinde 10-15 saniyede de bir konum gönderiyor. Yardımlarınız için çok teşekkürler hocam iyiki varsınız

Plugin : https://pub.dev/packages/background_locator

[2022-06-17 23:27] VB10 commented on #19
cok tesekkür ederim barış iyiki sende varsın burada bu çözümünüde paylaşıp başka arkadaşlara destek olduğun için

[2022-06-18 00:21] aea91 commented on #19
IOS ta app kill edildiğinde de konum gönderiyor mu bu paket sayesinde?

[2022-06-18 00:40] Barismano commented on #19
Şuan sadece android üzerine çalışıyorum yakın zamanda projeyi iosa build edicem o zaman yazarım buraya.Pluginin sayfasında ios kurulumuda var bir bak istersen

[2022-06-18 00:41] aea91 commented on #19
Teşekkürler. Gececilere selam olsun :)

[2022-06-18 00:41] Barismano commented on #19
uyumak yok :D

[2022-06-18 07:46] EmreKabali commented on #19
Bilgi için teşekkürler arkadaşlar

[2022-06-18 08:36] hasaneke opened #23 "Tavsiye ettiğiniz yabancı Flutter eğitim kanalları nelerdir?"
Cevaplar için teşekkürler :)

[2022-06-18 10:08] haznigulec opened #24 "Bluetooth classic scan Ios"
Merhabalar,
Uygulamamda bluetooth ile tarama yapıp bir cihaza bağlanmak istiyorum. Bluetooth LE ile android ve iosta rahatlıkla yaptım bunu ama şuan bluetooth classic ile iosta scan edip bağlanabileceğim yol bulamadım ve birkaç yerde ios un buna izin vermediğini okudum. Bi yolu yok mudur bunun acaba?

[2022-06-18 17:15] skyturkish opened #25 "constant değerlerin ortaklaştırılması"
![image](https://user-images.githubusercontent.com/73424678/174449013-6977046c-f6fd-48dc-9b90-a1806d427827.png)

![image](https://user-images.githubusercontent.com/73424678/174449036-fff082d7-a724-4490-aff3-6511462bcc7e.png)

![image](https://user-images.githubusercontent.com/73424678/174449243-50fe8fc4-86d3-48ac-88a0-d3c4a596e765.png)

Flutterda proje geliştirirken constant değerleri, mesela View

[2022-06-18 17:34] emrearik opened #26 "Bottom barda iki ayrı state güncelleme."
Merhabalar.

Bottom navigation barımda Kategoriler ve kelimeler olmak üzere iki adet sayfam var. Kategoriler sayfasında kategoriyi bloc ile güncellediğimde kelimeler sayfasında kategorinin eski hali duruyor. Kategori güncelleme sayfasında kelime blocunu tetiklemeye çalıştım. çalışıyor gözüküyor ama hala kelimeler güncellenmiyor.

![Kategoriler sayfası](https://i.ibb.co/FJ1kQRn/1.png)
![Kelimeler s

[2022-06-18 18:29] MehmetErenButun opened #27 "Yazılıma yeni başlayacak kişilere öneriler."
Özellikle üniversitede farklı bir bölümden mezun olmuş veya okuyan ve yazılım ile ilgilenen kişilere neler önerirsiniz. Kendilerine nasıl bir yol haritası çizmeliler ?

[2022-06-19 09:45] oguzcc opened #28 "Flutter StreamSubscription"
Merhaba. Harici bir uygulamadan paylaşılan linki stream ile tüm sayfalar üzerinden dinlemem gerekiyor. Ana sayfaya bu dinlemeyi ekliyorum fakat başka bir sayfaya geçtiğimde dinleme iptal oluyor. Projedeki tüm sayfalarda bu dinlemeyi eklemem gerekiyor. Bu da çok fazla kod tekrarı. Bunu nasıl çözerim. Tek bir yerden dinleme yapsam ama tüm sayfalar tarafından veri dinlenebilse.
Kullanmaya çalıştığım

[2022-06-20 04:26] Dzturk commented on #23
[https://www.udemy.com/course/flutter-bootcamp-with-dart/](url), Angela Yu ablamız yabancı kaynaklar arasında en derli toplusu gibi geliyor.

[https://www.youtube.com/c/FlutterCommunityVideos/videos](url) Flutter Community kanalında aradığınız konu özelinde güzel cevaplar bulabilirsiniz. Arada hap bilgi yayınları ve videoları paylaşılıyor.

Ben görsel olarak öğrenen biriyim. Bir sorunum varsa bunu

[2022-06-20 04:35] Dzturk commented on #25
Ben genellikle projeye has olan, sizin de yukarıda yazmış olduğunuz Primary - Secondary - Selected Nav Bar gibi color, padding vs. ayarlarını kodlarının yazıldığı yerde tutuyorum. Atıyorum Nav Bar ile alakalı constantlar Nav Bar'ın kodunun yazıldığı yerde ve orayla ilgili bir değişiklik yapılması gerektiğinde direkt o dosyadan hem fonksiyonal değişiklik hem görsel değişiklik yapma imkanı veriyor t

[2022-06-20 07:29] sorosons commented on #16
Ben daha çok şu an karşıalştığım problemi çözmek istiyorum doğrusu yani uygulama arka plandayken kotlin tarafından flutter tarafına aldığım veriyi işlemek istiyorum

[2022-06-20 08:27] aea91 opened #29 "BaseView onDispose methodu"
Merhaba,

  return BaseView(
        onDispose: () {
          Logger().i("view disposed");
        },

BaseView den türetilmiş stateless widgetlarda onDispose methodu sayfalar arası geçişlerde çalışmıyor.
Not: Tüm sayfalar baseview den türetildi.

[2022-06-20 08:28] aea91 commented on #28
BaseView de yapabilirsiniz. Videolarda var. Ben baseview e internet kontrol ekledim tüm sayfalarda dinleyebiliyorum.

[2022-06-20 08:29] aea91 commented on #23
Veli hocamdan iyi olmasın Rose Coder iyidir.

[2022-06-20 10:14] #28 closed, assigned to nobody

[2022-06-20 20:46] VB10 commented on #22
eger bottom sheet yaptıgın sayfayı ayrı bır statefull yaparsan ve oradaki değerli kendi içinde tutarsan 1. olarak bu
ikinci olarak misal user listesi doldruyorsun savebastın geri açılrıken o save ettiğini veriyorsun.
ek olarak yine controller da dışaradan gelebilir constrctor yeniden değilde build methodu tekrar tetikliyor ondan

[2022-06-20 20:46] #22 closed, assigned to VB10

[2022-06-20 20:54] VB10 commented on #23
yes bu arkadaşlar çok iyi ben ingilzice konusunda en en çok önerdiğim bu
https://flutter.dev/learn
bride bu pdf öneriririm diğer içerikler içinzaten. githubtaki repoları inceleyip bunları örnek yaparak öğrenmesi en iyisi bu kitabın dart in action da çok güzel
<img width="257" alt="image" src="https://user-images.githubusercontent.com/17102578/174676444-f66a5563-887c-4402-b4ba-90632257304e.png">

[2022-06-20 20:54] #23 closed, assigned to nobody

[2022-06-20 21:16] VB10 commented on #25
selamlar buradakı ana nokta projede paddinglerin tüm sayfalrada aynı olması noktası yani x sayfasındada y sayfasıdnada topbottom paddıngler hepsabit olmalı aslında Bu sebebeple bir çok yönetem yapaılabilir
misal ben

`
  const PagePadding.horizontalNormalSymmetric() : super.symmetric(horizontal: 14);
  const PagePadding.horizontalHighSymmetric() : super.symmetric(horizontal: 18);
`

yapıp bunuda P

[2022-06-20 21:16] #25 closed, assigned to VB10, Dzturk

[2022-06-20 23:29] VB10 commented on #27
selamlar özellikle bu konuda bir kaç iisseu daha kapatmıştk ona bakabilriisn ama genel olarak temel bır mantık onemlı
üretim de olmak yani backend vs biraz yoraiblir ve iş bulmak zor olabilir bence b uradkai en iyi yol fornt end işleri

bu. konuda fltuter react gibi teknolojileri seçip en yakın olanla başlayaiblirisn
burada onemlı olan hızlıca algoıtmayı cozup urun uretmek devam etmek lazım upwork

[2022-06-20 23:29] #27 closed, assigned to VB10

[2022-06-21 00:28] MehmetErenButun commented on #27
Cevabınız için teşekkür ederim.

[2022-06-21 07:42] HasancanCakicioglu opened #30 "Flutter için dart dışında bir programlama dili kullanmak"
Merhaba hocam benim sorum şu mesela yapay zeka öğreniyorum bunu flutterdaki uygulamamda python ile yazmak istiyorum bunu yapabilirmiyim yapabilirsem dart dışında başka bir programlama dili kullanmak herhangi bir performans kaybına yol açarmı vb. sorunlara.Aynı şekilde javascript'de web için.yoksa bunlara hiç gerek yok mu pythonla yazdığım yapay zeka kodunu **eksiksiz** dart ile yazabilirmiyim veya

[2022-06-21 09:01] hasanaliozdemir opened #31 "[Flutter] Shared Preferences ve Update"
Merhabalar,

Uygulamamda shared_preferences paketi ile bazı verileri tutuyorum. Merak ettiğim konu ise şu;

Kullanıcı 1.1.2 versiyonundan 1.1.3'e yükseltti. Cihazda kaydedilen verilerin kaybolma veya bozulma ihtimali var mıdır?

Eğer böyle bir durum yaşanıyorsa,
[code]
şeklinde tutulan ve sıkça güncellenen bir listede eksilme yaşanabilir mi?
Eksilmeden kastım;
[code]

Bu bahsettiğim durumlar yaşan

[2022-06-21 09:15] benimbolat opened #32 "Exception caught by image resource service ( network img bazen yükleniyor bazen beyaz ekranda kalıyor )"
Merhabalar Arkadaşlar,

   APİ'den gelen image url'sini ekrana bastığımda bazen image yüklenmiyor, timed out'a düşüyor. Sayfayı tekrar açmam gerekiyor yüklenmesi için. Bildiğiniz gibi kullanıcı deneyimi için güzel bir deneyim değil.  Ben nasıl timed out'a düşünce, image yüklenene kadar işlemi tekrar'a sokarım. Bi önlemi var mı ?

  İmage yüklenmeyince verilen hata kodu ;
`HttpException: Operation

[2022-06-21 09:43] leylamalcok opened #33 "-"

[2022-06-21 17:04] yakupemeksiz opened #34 "White Screen"
Uygulama debug mod ile çalışıyor fakat TestFlight a yükledikten sonra uygulamayı telefona kurduğumda uygulama açılmıyor.
Beyaz ekranda takılı kalıyor.

Build komutum:

`flutter build ipa --obfuscate --split-debug-info=./debug_info --flavor development --dart-define=APP_ENV=dev --release`

Export komutum:

`xcodebuild -exportArchive -archivePath ./build/ios/archive/Runner.xcarchive -exportOptionsPl

[2022-06-21 17:41] yakupemeksiz commented on #31
Xml olarak telefonunda kayıtlı kalıyor. Update edildiğinde xml dosyası update olmuyor bu yüzden verilerde bir değişme olmayacaktır.

Konu hakkında:
https://medium.com/@prasanthiyarramareddy/storing-and-accessing-shared-preferences-f5da25ed572d

[2022-06-21 17:45] yakupemeksiz commented on #26
Aynı bloc üzerinden çalıştığından emin olmanı tavsiye ederim. Farklı instances üzerinde çalışıyor olabilirsin. Kontrol etmek için hashCode larına bakabilirsin. Faklılarsa eğer singleton yapıp demeni öneririm.

[2022-06-21 18:28] yakupemeksiz commented on #34
dart-define ile env yanlış gönderilmiş ezilmiş sanırsam önceki commitlerde, sorunu buldum.

[2022-06-21 18:28] #34 closed, assigned to yakupemeksiz

[2022-06-21 19:07] emreydz opened #35 "mail_scanner"

[2022-06-21 20:36] mehmetshakar opened #36 "flutter to sql server"
Merhaba Hocam,

apisiz olarak flutter ile ms sql server e bağlanıp crud işlemleri ve diğer sorguları çalıştırabilir miyim? Nasıl?

teşekkürler, iyi çalışmalar.

[2022-06-21 23:10] VB10 commented on #24
bu konuda bir bilgim yok ne yazıkki burada bilgili bir arkadaş varsa yorum atacaktır ama tavsiye mşu native bir appte deneyip eğer yapabilirseniz bunu fluttere bridge etmeniz koaly gelsin

[2022-06-21 23:10] #24 closed, assigned to VB10

[2022-06-21 23:12] VB10 commented on #26
buradaki sorun şuradan geliyor anladığım şimdi ik ayrı blocun var bunları yöneten bir ana tabda bloc yapabilirsin ve bu sayede bunlara haber verebilirisn. Yani
TabbarBloc gibi bir yapı kurup burdan ikinci tabdaki değişiklşille birinci tabı udpate edebilirisn veya bir provider ilede yapbilrisin.

Diğer nokta eğer bir listenin güncllenmesi isityorsan bloc t arafında equalty ile sarmalayıp propertyle

[2022-06-21 23:12] #26 closed, assigned to nobody

[2022-06-21 23:16] VB10 commented on #29
burada arkadan öne gelirken methodun evet tetiklenmesi lazım widget öldüğünden nerede sorun tam oluyor kaçırdım ama bu muhmtelen bizim arichtevcture deki bir sorun yeni versiyon gelecek orad abilrikte bakarız

[2022-06-21 23:16] #29 closed, assigned to VB10

[2022-06-21 23:23] aea91 commented on #29
Veli hocam acaba tüm viewler baseview den türetildiği için ve aslında birinden diğerine geçerken yine baseview çatısı altında olduğu için mi dispose olmuyor?

BaseView aşağıdaki gibi

class BaseView<T> extends StatefulWidget {
  final VoidCallback onDispose;
  final VoidCallback initState;
  final Widget Function(BuildContext context) onPageBuilder;

  const BaseView({
    Key? key,
    required t

[2022-06-21 23:27] VB10 commented on #30
Selammlar bu konu genel dünyada aslında çok önemli bir nokta. özellikle şöyle bakaibliriz
- benim de bildiğim arkadaşımla birlikte bir phthon modelimizi tensorflow lite üzerinden flutter projemize aktarmıştık https://pub.dev/packages/tflite bu tarz bir paket ile eğer bunu kullanarak yaparsan hiç aslında bir şey yapmadan sadece dart ile yapabilriisn
- Bir projemizde obejctive c gücünden kullnarak b

[2022-06-21 23:27] #30 closed, assigned to VB10

[2022-06-22 08:26] berkeklc opened #37 "Flutter http request çok yavaş yükleniyor."
Merhaba,

Flutter ana sayfada 3 tane http api ile ayrı datalar çekiyorum ama açılış hızı rahatsız edici derecede yavaş bununla ilgili nasıl bir yol izleyebilirim?

[2022-06-22 08:53] yakupemeksiz opened #38 "Notification and push routes"
Bir local notification ile istenilen ekrana rota push etmek istiyorum.

Uygulama arka plandan silindiğinde (suspended) bu işlemi gerçekleştiremiyorum.

Diğer tüm durumlarda çalışıyor.

[2022-06-22 09:54] benimbolat commented on #32
Arkadaşlar Cached Network Image kullanarak istediğimi elde ettim.
Pub.dev linki : https://pub.dev/packages/cached_network_image

[2022-06-22 09:54] #32 closed, assigned to nobody

[2022-06-22 12:34] sinanhaci commented on #37
Selam,
Nasıl kullandığına dair örnek kod paylaşabilir misin?

[2022-06-22 12:55] berkeklc commented on #37
Çağırdığım kısım
[code]
listelendiği kısımlardan en çok veri olan kısım yaklaşık 30-40 resim ve text datası geliyor lazyload veya infinty scroll uygulamaları denedim ama başarılı olamadım
[code]

[2022-06-22 13:28] sinanhaci commented on #37
Şuan FutureBuilder kısmında zaten bir tane http isteği atıyorsun. Attığın kodda iyileştirmeler yapılabilir evet ancak ana sorun bu değilmiş gibi duruyor. Aynı isteği postman üzerinden denediğinde response süresi nedir peki?

[2022-06-22 13:38] sinanhaci opened #39 "Future.wait([]) kullanırken yaşanılan refresh token sorunu."
Selam,

API isteklerimi yönetmek için şöyle bir base kullanıyorum:

[code]

Servis tarafında metodları bu şekilde yazıyorum:
[code]

Mevcut yapıda herhangi bir async task çalıştırdığımda eğer status 401 gelirse, 401 için yapması gereken işlemleri yapıyor ve sağlıklı bir şekilde çalışmaya devam ediyor ancak aşağıdaki gibi bir kullanımda sorun yaşıyorum:

[code]

Burada servisler çalışırken birbirle

[2022-06-22 14:26] berkeklc commented on #37
Postmanda response süresi iyi gözüküyor ama domain cloudflare üzerinde bu arada etkisi olur mu bilmiyorum,
aynı sayfada yukardaki kod blogu gibi 2 tane daha api çağırdığım alan var ama onlardan gelen veriler daha 5-10 tane küçük boyutlu resim
<img width="396" alt="Screen Shot 2022-06-22 at 17 24 03" src="https://user-images.githubusercontent.com/35425749/175053614-ea01aa87-420b-4014-9941-ae71053bb

[2022-06-22 16:57] yusufkecer opened #40 "FAILURE: Build failed with an exception."
Gitten proje cloneladım bu hatayı alıyorum. Google, edge gibi motorlarda çalışırken, emülatörde hiçbir şekilde açılmıyor ve bu hatayı veriyor. Stack Overflowdaki başlıkların çoğunu inceleyip denedim ama çalışmadı. Yardımcı olabilir misiniz? (flutter sdk sürümü son sürüm)

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':barcode_scan2:generateReleaseProto'.

[2022-06-22 18:47] #33 closed, assigned to nobody

[2022-06-23 06:31] hasanaliozdemir commented on #40
importlarında veya flutter sdk path ayarlarında bir hata olduğunu düşünüyorum. Kontrol edebilir misin?

[2022-06-23 07:30] yusufkecer commented on #40
Diğer projeler açılırken herhangi bir sorun olmuyor. Ama bu proje açılmıyor. Eski bir sdk versiyonu indirip denedim, yine açılmadı.

[2022-06-23 15:05] kadirozenn opened #41 "Apple developer account"
Apple cihazlarında kişilere özel private uygulamaları nasıl dağıtabilirim?

[2022-06-23 17:10] endmr11 opened #42 "SwiftUI @MainActor kullanımı hk."
Merhabalar,

SwiftUI da DispatchQueue.main.async kullanılsa da kullanılmasa da ViewModel sınıfına @MainActor eklemenin bir zararı var mı? Teşekkürler.

[2022-06-23 17:58] ozkanozcan commented on #41
Android cihazlardaki gibi link göndereyim kurulum yapsınlar şeklinde dağıtım ios tarafında jailbreaksiz malesef olmuyor.

Kısa süreli kullanım olacaksa TestFlight üzerinden dağıtabilirsin.

Uzun süreli olacak ama App Store üzerinden dağıtmak istemiyorsan inHouse dağıtım için Apple Enterprise hesabı alıp uygulamayı onunla imzalayıp dağıtım sertifikaları oluşturup dağıtabilirsin

Araştırman gereken

[2022-06-24 06:37] sinanhaci commented on #41
Eğer cihazların id'sini developer hesabına kaydedersen, ipa çıktılarını cihazlara gönderebilirsin.
Örn : https://www.diawi.com/
Ancak bunun sürdülebilir bir şey olduğunu düşünmüyorum. Test amaçlı bu işlemi yapacaksan arkadaşın dediği gibi testflight ile bu işi halledebilirsin.

[2022-06-24 06:41] sinanhaci commented on #40
Bu hatayla ilgili internette epey çözüm yolu var, hangi yolları deneyip ne gibi hatalar aldın? Bunlarıda paylaşır mısın?

[2022-06-24 06:52] kadirozenn commented on #41
Öncelikle cevaplarınız için teşekkür ederim.

TestFlight sorunumu çözmüyor. Çalıştığım şirkette firmalara özel ios uygulama geliştiriyorum flutter ile daha önce bu konuda herkese açık uygulama yayınlamaktan başka tecrübem olmadı. Apple business manager veya Özkan beyin dediği gibi Apple Enterprise hesabı ile bu sorunumu aşabilirmiyim?

[2022-06-24 06:54] sinanhaci commented on #36
Selam,
MSSql server'a bağlanma isteğiniz, varolan bir database'i kullanma amacıyla mı?
Alternatif olarak mobilde verileri saklamak için bunu kullanabilrisiniz: https://pub.dev/packages/sqflite

Ayrıca MSSql kullanma konusunda kararınız kesinse biraz araştırma yaparak bir kaç yol buldum, örnek olarak bir url paylaşacağım. Deneyimleyip takıldığınız yerleri tekrardan buraya yazarsanız yardımcı olmaya

[2022-06-24 06:59] mehmetshakar commented on #36
Yanıtınız için çok teşekkür ederim Sinan Bey,

veritabanı  uzak bir sql sunucudaki veritabanıdır, mvc core kullanıyorum api olarak ancak sanki performans problemi var, o yüzden dolaylı değil de direkt bağlanabilir miyim diye bakıyorum.

teşekkür ederim.

[2022-06-24 08:01] yusufkecer commented on #40
flutter sdk versiyonunu 2.95 sürümüne çektim, kotlin versiyonunu değiştirdim, min/target sdk versiyon ayarlarını değiştirdim, build.gradle/dependencies altına _classpath 'com.google.protobuf:protobuf-gradle-plugin:0.8.12'_ ekledim. .gradle altındaki tüm dosyaları sildim, flutter clean-pub get koştum. Emülatörün ön belleğini temizledim. pubspec.lock sildim, yeniden build edildi. Bunların yanında bi

[2022-06-24 08:33] sinanhaci commented on #36
Rica ederim iyi çalışmalar.

[2022-06-24 08:35] sinanhaci commented on #41
Evet aşabilirsiniz. Ayrıca şirketlere MDM çözümleriyle de IPA çıktılarını dağıtabilirsin. Örn: Intune..

[2022-06-24 08:38] kadirozenn commented on #41
Sonuç olarak Apple business manager  hesabı açıp oradan devam ediyorum.

[2022-06-24 08:48] ozkanozcan commented on #41
Enterprise hesap ile biz dünya çapında 3000-3500 civarı cihaza dağıtım yapıp uygulama kullandırtmıştık.
cihaz sayısı sınırı olmadan uygulamanızı dağıtabilirsiniz.

[2022-06-24 08:49] ozkanozcan commented on #41
Teknik destek lazım olursa [Hüseyin Usta](https://mobile.twitter.com/huseyinusta)  bu konuda Türkiyenin en iyi eğitmenlerindendir. Destek alabilirsiniz.

[2022-06-24 08:52] kadirozenn commented on #41
Tamamdır çok teşekkür ederim vaktinizi ayırıp cevapladığınız için

[2022-06-24 08:57] sinanhaci commented on #40
Kopyaladığın proje eğer public ise linkini atabilir misin? Kendimde çalıştırmayı deneyip hataları çözmeye çalışayım.

[2022-06-24 20:49] #35 closed, assigned to nobody

[2022-06-25 08:41] #41 closed, assigned to ozkanozcan, VB10, sinanhaci

[2022-06-25 14:46] MehmetKaranlik commented on #42
Actor property wrapper'ı datarace'i engellemek için geliştirildi. Context izole etmek üzerine çalışıyor. Multi-threading environment'ta aynı instance'ı okuma-yazma yaparken işlemi aynı loop'ta birleştirip sırasıyla bitmesini bekliyor. MainActor ise bu izole durumun Sadece main threadde olması için. UI'ni güncellediğin classlarda bkz. ViewModel main actor kullanmak mantıklı bir davranış. Sadece ase

[2022-06-25 15:30] endmr11 commented on #42
@MehmetKaranlik Teşekkür ettim kral

[2022-06-25 15:30] #42 closed, assigned to VB10, MehmetKaranlik

[2022-06-25 15:41] skyturkish opened #43 "Some TextField errors, stackOverFlow"
https://stackoverflow.com/questions/72747861/when-the-click-textfield-and-open-keyboard-so-many-error-appears-then-click-ne

[2022-06-25 17:35] sinanhaci commented on #43
TextField'ı TextFormField yaparak denediğinde de sonuç aynı mı?

[2022-06-25 17:47] VB10 commented on #42
eline saglik @MehmetKaranlik

[2022-06-25 17:49] skyturkish commented on #43
onu yaptım ve sadece SamsungSmartSugges.... keepsstopping hatası vermemeye başlıyor, kalanı aynı

[2022-06-25 17:49] #9 closed, assigned to VB10

[2022-06-25 17:50] skyturkish opened #44 "Application only works debug mode & specific Ip with mongoDb"
https://stackoverflow.com/questions/72755876/application-only-works-debug-mode-specific-ip-with-mongodb
summary: Uygulama sadece laptopdan mobil veriye bağlandıktan ve debug modda başlattığım zaman mongodb ile iletişim kurabiliyor, kalan tüm yollarda  Connection timed out diyor 2dk bekledikten sonra.

[2022-06-25 17:51] VB10 commented on #31
listleerde onemli olan referanstir referans bir yerde kullaniliyorsa ve sen o refereanstan direk silme yaparsan anca veri kaybi olur.
Veri kaybi @nolcreak dedigi gibi bir sorun yaratmayacaktir.

[2022-06-25 17:51] #31 closed, assigned to VB10, yakupemeksiz

[2022-06-25 17:54] VB10 commented on #36
@mehmetsahakar her sneryoda dbye direk baglanmamak lazim mobilde client bazli paket ciktigimizdan clientta eski bir kod ortayi cok kotu hale getirebilir. Bu durumlarda direk db uzerinden is yapmak icin sql degilde firebasei rest servis olarak kullanabilirz https://medium.com/hardwareandro/5-minutes-firebase-rest-service-c990c1f70031

[2022-06-25 17:54] #36 closed, assigned to VB10, sinanhaci

[2022-06-25 20:21] Caliredus opened #45 "VSCode Operator Extension"
Videolarda fark ettiğim != <= >= operatörlerini daha güzel gösteren extensionu aradım taradım ancak bulamadım.

[2022-06-25 20:55] VB10 commented on #45
selamlar buradan indirip pc'ine eklersen kullanabilirsin
https://www.jetbrains.com/lp/mono/

[2022-06-25 20:55] #45 closed, assigned to VB10

[2022-06-25 21:00] yusufkecer commented on #40
Proje maalesef private

[2022-06-26 08:27] aea91 commented on #38
** Uygulama arka plandan silindiğinde ** Bu cümlenin geçtiği tüm senaryolar Native ile yapılıyor. Hem Android hem IOS için.

[2022-06-26 18:39] skyturkish commented on #44
gerçek bir cihaz ile çalışıyorsanız, sanal cihaz ile çalışmıyorsanız, laptopun ve telefonun aynı internete bağlı olması lazımmış.

[2022-06-26 18:39] #44 closed, assigned to skyturkish

[2022-06-26 22:15] nuriulgen opened #46 "Api'den veriler çekiliiyor ama snaphot data null görüyor => type 'Null' is not a subtype of type 'Map<String, dynamic>' in type cast"
Future<List<User>?> fetchPostItems() async {
    try {
      final response = await _dio.get('$FIREBASE_URL/users.json');

      if (response.statusCode == HttpStatus.ok) {
        final datas = response.data;
        if (datas is List) {
          return datas.map((e) => User.fromJson(e)).toList();
        }
      }
    } catch (e) {}
    return null;
  }

[2022-06-27 05:54] karaaliogluonur opened #47 "Flutter'a başlamadan önce ne yapmalı?"
Hocam öncelikle mutlu haftalar diliyorum. Umarım herkesin hali vakti yerindedir.

Ben bir şey danışmak istiyorum. İnşaat mühendisliği bitirdim ve şu an yüksek lisans yapıyorum fakat artık bu meslekte kendimde bir gelecek görmüyorum. Bu sebeple flutter çalışmaya başlamıştım. Önceden biraz python bilgim olduğu için dart diline çabuk alıştım. Fakat şu anda tam verim alamadığımı düşünüyorum. Acaba dir

[2022-06-27 07:18] skyturkish commented on #46
tüm kodu sağlayabilir misin, ama şu anlık gördüğüm senin isteğinde liste dönmüyor, Map<String,dynamic> dönüyor, ilk başta, if (datas is Map<String,dynamic>) demen ondan sonra return (datas as List).map((e) => User.fromJson(e)).toList(); yapman lazım gibi. ama dediğim gibi daha fazla bilgi sağlarsan,en azından istek olarak nasıl bir şey istediğini, daha fazla yardımcı olabiliriz.

[2022-06-27 09:16] hasanaliozdemir commented on #43
bu değişikliği yaptıktan sonra aldığın hatalar uygulamanın işlevselliğini etkiliyor mu yoksa daha çok uyarı gibi mi?

[2022-06-27 10:43] shahmirzali49 commented on #9
sonuc olarak buradaki (https://github.com/flutter/flutter/issues/13065) islemleri yapabildim. sanirim sorun cozulmus gibi. tekrar tesekkurler @VB10

[2022-06-27 12:43] skyturkish commented on #43
işlevselliğini etkilemiyor  uyarı gibi ama DEBUS CONSOLE'da aşırı spam oluyor, ileride bilmediğim bir problemin kaynağı olabilirler diye çözüm arıyorum bir yandan bunlara

[2022-06-27 12:55] hasanaliozdemir commented on #43
gerçek cihazlarda bu çok sık olan bir durum diye biliyorum, simülatörde de aynı şekilde spam atıyor mu?

Ayrıca AWS tarafından sağlanan paketler bile bu spam olayını yapıyor, sanırım sebebi gerçek cihazlardaki android sisteminde app üzerinde etkisi olan sistem uygulamaları.  Release yayınlanmış bir çok appte bu spam olayını gördüm sıkıntı çıkartmasa gerek diye düşünüyorum.

[2022-06-27 12:55] ozkanozcan commented on #47
Veli hocam daha iyi bilir ama şu sanki iyi bir yol haritası gibi :

![FlutterRoadmap](https://user-images.githubusercontent.com/423519/175946559-0e3150e5-36a2-4d69-a080-93291416e4c3.png)

[2022-06-27 13:57] aea91 opened #48 "Flutter Web"
Merhabalar,
Flutter web te yeni versiyonu yüklediğimde canlıda yeni versiyon gelmiyor.
Geçmiş temizlendiğinde ancak güncelleniyor.
Yenileme butonu koydum. Tüm cacheleri temizlemeye çalıştım yine olmadı.
Programatik olarak yeni versiyonu nasıl çekebiliriz internet tarayıcadan geçmişin temizlenmesi gibi.

[2022-06-27 15:11] nuriulgen commented on #46
Apiden  veriler geliyor ama  Future builder kısmı hep not found widget döndürüyor

![WhatsApp Image 2022-06-27 at 18 10 17](https://user-images.githubusercontent.com/45700377/175973807-c85d3cf9-2259-44ac-995e-a9f2e9ecbf16.jpeg)

![WhatsApp Image 2022-06-27 at 18 05 26](https://user-images.githubusercontent.com/45700377/175972848-9e867e1c-e472-46a6-94b3-0e16db3e9695.jpeg)

![WhatsApp Image 2022-06-

[2022-06-27 15:12] azaderdogan opened #49 "[Flutter] Not converting to Turkish characters when making upper case"
for example:
i -> I

[2022-06-27 16:04] okmsbun commented on #48
Merhaba
Ben bu sorunu (KISMEN) bu şekilde çözdüm.
Build almadan önce `web/index.html ` de `scriptTag.src = 'main.dart.js?v=` 'e farklı versiyon numaraları verilebilir.
Aynı şekilde buna da `var serviceWorkerUrl = 'flutter_service_worker.js?v=`

Daha fazla ayrıntıya buralardan ulaşabilirsin.

[2022-06-27 18:23] aea91 commented on #48
Dediğiniz adımları yaptım çözüm olduğunu düşünüyorum.
Teşekkürler

[2022-06-27 18:23] #48 closed, assigned to okmsbun

[2022-06-27 19:38] EyupEnsarAlmaz opened #50 "Model classlarının yönetilmesi Flutter"
Elimdeki api den veriyi çekmek için model oluşturdum. Ancak modelin alt classları mevcut. Ben ise service yazarken ana classı baz aldığım için alt classlardaki verileri göremiyorum.  Alt classlara ulaşmak için nasıl bir yol izlenmeli? Cevaplarınız için Teşekkür ederim.

Örnek;
![Screenshot_5](https://user-images.githubusercontent.com/67228806/176021908-295038c5-5fce-489e-a973-77d13d3f8b12.png)
![S

[2022-06-27 22:29] VB10 commented on #39
burada bu paketi kullanarak bir lock makinzmasi kurup burada servis instancelerini dondurarak yapiblrsin bir kere 401 gelince threadi durudrup yeni bir islem yapip yeni tokenle devam ettirmek gibi sonrarasinda retry ile yeniden atacaksin https://pub.dev/packages/synchronized

[2022-06-27 22:29] #39 closed, assigned to VB10

[2022-06-27 22:30] VB10 commented on #48
@okmsbun eline saglik

[2022-06-27 23:24] kadirbekar commented on #50
Her bir model classınız içerisinde servisten gelen datayı parse etmek için gerekli metotları (Örneğin gelen datayı parse etmek için **fromJson(Map<String, dynamic> json)** veya servis tarafına veri göndermek için **toJson** gibi metotlar) yazabilirsiniz.  Daha doğrusu modellerinizi yukarıdaki gibi tutarsanız işlem yapmanız daha temiz ve kolay olacaktır diğer şekilde map şeklinde de iç içe değerler

[2022-06-27 23:26] kadirbekar commented on #49
https://pub.dev/packages/turkish

This library would be helpful for that kind of scenarios.

[2022-06-28 04:35] azaderdogan commented on #49
Thank you. this works for me.

[2022-06-28 04:35] #49 closed, assigned to nobody

[2022-06-28 06:22] #43 closed, assigned to nobody

[2022-06-28 06:25] haznigulec commented on #46
FutureBuilder<Map<String,dynamic>> yaparsan null dönmeyecektir

[2022-06-28 08:45] kadirbekar commented on #49
You are welcome.

[2022-06-28 11:26] guccisekspir opened #51 "Goole Map Init'i Isolate ile yapmak"
Google Map init olurken çok ciddi bir bekleme söz konusu olabiliyor. [Flutter'da issue](https://github.com/flutter/flutter/issues/28493) açılmış durumda  ama hala bir çözüm yok(2019'dan beri). Bunu Isolate ile çözebilmemiz mümkün müdür ? Mümkünse nasıl ilerlemeliyiz ?

[2022-06-28 11:28] aea91 commented on #51
Ek olarak iOS ta son Google Maps versiyonunda aniden kapanmalar oluyor.
Çok fazla marker kullanınca da muazzam bir kasma ve yine atma oluyor.

[2022-06-28 13:55] #46 closed, assigned to nobody

[2022-06-28 21:32] VB10 commented on #47
@ozkanozcan hocamin onerdigi bu yol cok guzel bir kere cok mantikli eline saglik

Ek olarak benim onerim su sekilde
- Dart dilini oop olarak iyi hale getirmek daha cok ogrenmek adina java oop konularina bakip mobile uygulamak
- mobilin ana noktarlarini bilmek feature setleri auth cache etc
- ui widgetleri iyi bilmek hizli gelistirmek

[2022-06-28 21:32] #47 closed, assigned to ozkanozcan, VB10

[2022-06-28 21:33] VB10 commented on #37
Burada iyilestirme yapialcak cok kisim yok gibi gozukuyor postmande atilan time fltuterdada birebir gelir gibi Future.wait vs kullanarkta toplu atabilirsin ama yinede response time sorunu varsa backende bakmak laizm.

[2022-06-28 21:33] #37 closed, assigned to VB10, sinanhaci

[2022-06-28 21:34] VB10 commented on #38
eger app kapaliysa ve opush geldiyse aslinda firebase uzerinde inital message var onu alarak atilan son durumu alabilirsin.
Ama eger arka plandayken appe bir islem yapmak lazimsa slient notifcaitona bakabilrisin

[2022-06-28 21:34] #38 closed, assigned to VB10, aea91

[2022-06-28 21:36] VB10 commented on #40
bende kontrol ettigimde bir sorun goremedim istersen projenin bir kismini ayri bir repoya atip @sinanhaci ile iletisimede gecip bakabilrsin

[2022-06-28 21:36] #40 closed, assigned to VB10, hasanaliozdemir, sinanhaci

[2022-06-29 16:21] skyturkish opened #52 "Responsive Tasarım"
Projedeki her şeyi ; textstyle'daki size, Paddings, widget's height & width. Her şeyi dynamicHeigh ve dynamicWidth sayesinde MediaQuery üzerinden yapıyorum. Ve hiç bir sıkıntı çıkmıyor başka ekranlara geçtiğim zaman, eninde sonunda sabit değer yok projede. Veli hocanın Responsive videosunda Expanded ve flexler ile yapıyordu, ben böyle yapıyorum. ikiside eninde sonunda aynı amaca hizmet ediyor ve i

[2022-06-29 21:41] VB10 commented on #50
@kadirbekar süper teşekkür ederim gayet yeterli

[2022-06-29 21:41] #50 closed, assigned to VB10, kadirbekar

[2022-06-29 21:44] VB10 commented on #52
bu kullanım güzel biz misal respoviewrapper gibi paketlerle çok büyük deviceiler için yeni eklemler yapıyoruz.

Özetle
- Eğer sayfan flex ile yapabiliyorsan en temiz kullanım
- Sayfan list ise daha generic bir görüntü için dynamic iyi ama genelde listview sonsuzluk olduğundan standart size'lar iş görür

[2022-06-29 21:44] #52 closed, assigned to VB10

[2022-06-30 07:54] alperenekin commented on #51
Flutter'da platform channel ile native e yapılan işlemler Isolate olarak yapılamıyor. Sanıyorum ki google maps de bu şekilde çalıştığı için isolate ile mümkün olmayabilir. Ancak native kullanan pluginleri isolate gibi kullanabilmek için [isolate_handler](https://pub.dev/packages/isolate_handler) plugini var belki iş görür bu durumda. Deneyip sonucu paylaşırsanız güzel olur görmek açısından 👍

[2022-07-01 09:03] skyturkish opened #53 "viewmodel oluştururken private değerlerin public'e dönmesi"
[code]
Şöyle basit bir view sayfam var, zaten çoğu şeyi Extract Widget diyerek çıkardım, çıkarttığım şeyleri de part & part of ile başka sayfaya attım, az biraz daha okunaklı bir kod oldu, şimdi sıra üstteki controller , focusnode, dispose vb.... şeyleri viewmodel'e  atıp daha da düzenleyecektim ama attığım zaman _controller => private olarak yaptığım şeyler benden publice çekmemi istiyor. Viewmod

[2022-07-01 14:06] mustafacavusoglu opened #54 "Node Js için Öğrenme Yolu"

[2022-07-01 14:08] mustafacavusoglu commented on #54
JavaScript temellerini bilen biri nodejsi daha iyi öğrenmek için önce typescript öğrenmeli mi?
Yol olarak tavsiyeleriniz nelerdir?
Teşekkür ederim

[2022-07-03 21:31] VB10 commented on #51
simdi bu konuyu ben bir kere yaptim ama bulursam paylasacagim o kodu ancak sunu soyleyebilirim bence eger map gozukecekse google static api kullanin sadece bir noktayi gostermek icin genelde business te amac o noktayi gostermek oldugundan bu topa girmek icin ekliyoruz google static map apide route bile ciziliyor
https://developers.google.com/maps/documentation/maps-static/overview

[2022-07-03 21:31] VB10 commented on #51
bulunca baska bir issuede paylasacagim suan buna bir cozumum yok diyelim

[2022-07-03 21:31] #51 closed, assigned to VB10

[2022-07-03 21:34] VB10 commented on #53
_data kullanimi aslinda file private demek yani senin o dosyayi public istemesinin sebebi dosyadan erisememsinden bu durumda part of yapmak zorunda kaliyorsun.
Burada sayfanin kullanacagi ozel propertyleri private tutup ana methodlari public devam ettirebliriz test edebilecigmiz gibi onlari public acaiblrsin

[2022-07-03 21:34] #53 closed, assigned to nobody

[2022-07-03 21:36] VB10 commented on #54
@mustafacavusoglu bu konuda bir kac bilgim var ama konunun icinde cok olmadigimdan sallamak istemem.
- benim react yazdigim donemden var sayarak
- ts ogrenmek bence cok onemli hem oop uygulamak hem test code yazbilmek icin diyeblirim.

[2022-07-03 21:36] #54 closed, assigned to VB10

[2022-07-03 21:36] VB10 commented on #54
birde buna bakabilirsin   https://github.com/aliyr/Nodejs-Developer-Roadmap

![image](https://user-images.githubusercontent.com/17102578/177057980-4b3190a9-dc53-4c02-9405-b116b266e1ee.png)

[2022-07-04 00:45] MehmetKaranlik opened #55 "VNRecognizeTextRequest' te tanınan stringin attributlarını almak."
Apple'ın vision frameworkü ile rahatça resim üzerinden yazı tanıma yapabilidim. Baya başarılı ama textin attributelarını almanın bir yolu var mıdır ?

<br>
<br>
<img width="325" alt="Ekran Resmi 2022-07-03 16 27 07" src="https://user-images.githubusercontent.com/89414084/177063616-cda90392-2a14-470c-a8e8-f685b5674df6.png">
<img width="319" alt="Ekran Resmi 2022-07-03 16 27 13" src="https://user-im

[2022-07-04 04:02] Eldar2021 opened #56 "Adaptive"
Projede flutter_screenutil kullanmayı önenriyor musunuz? Kullanırsak performans sorunu yaşayabilirmiyiz?

[2022-07-04 06:00] mustafacavusoglu commented on #54
Teşekkür ederim abi.

[2022-07-04 08:36] abdullahkaraboga commented on #56
Teknik olarak sorunuzun cevabını bilmiyorum ama aynı sayfa tasarımı için ayrı ayrı flutter_screenutil ve MediaQuery kullanıp Flutter Performance ve Android Profiler kullanarak performansı kendiniz deneyimleyebilirsiniz.

[2022-07-05 10:06] Eldar2021 commented on #56
Teşekkür ederim

[2022-07-05 13:36] nmnclk opened #57 "M1 macbook air Flutter Firebase CocoaPods hatası."
Merhaba
Flutter projesinin pubspec.yaml dosyasına FlutterFire paketlerinden herhangi birini eklediğim zaman CocoaPods ile ilgili uzun bir hata alıyorum.
Ancak Firebase CLI kurulumunu yaptım. Tahminim CLI yada M1 ile uyumsuzluktan kaynaklanıyor olabilir.

Yardımcı olursanız sevinirim :)

Hata metni tamamı

`numan@Numan-MacBook-Air deneme_firebase % flutter run
Launching lib/main.dart on iPhone 13 i

[2022-07-06 06:43] abdullahkaraboga commented on #57
Podfile dosyasında ikinci satırdaki

# platform :ios, '9.0'

kısmını 13 yapıp comment'ten çıkarın. Daha sonra CocoaPods kurulumunu yapmayı deneyin.

[2022-07-06 06:44] abdullahkaraboga commented on #57
Podfile dosyasında ikinci satırdaki

`platform :ios, '9.0'`

kısmını 13 yapıp comment'ten çıkarın. Daha sonra CocoaPods kurulumunu yapmayı deneyin.

[2022-07-06 20:15] nmnclk commented on #57
Teşekkür ederim.
Bu işlemi yaptım o hata yerine başka bir hata geldi.
Hata şu şekilde:
`Launching lib/main.dart on iPhone 13 in debug mode...
lib/main.dart:1
Warning: CocoaPods is installed but broken. Skipping pod install.
  You appear to have CocoaPods installed but it is not working.
  This can happen if the version of Ruby that CocoaPods was installed with is different from the one being used

[2022-07-06 23:09] nmnclk commented on #57
Çözüldü

Aşağıdaki komutu kullanarak Homebrew kurulumunu yaptım.
`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`

Daha sonra şu komutu kullanarak brew ile Cocoapods yükledim.
`brew install cocoapods `

[2022-07-06 23:09] #57 closed, assigned to VB10, abdullahkaraboga

[2022-07-07 05:46] #56 closed, assigned to abdullahkaraboga

[2022-07-07 09:32] YALCINCAN opened #58 ".."
.

[2022-07-07 14:09] skyturkish opened #59 "flutter'ın kendi orijinal kodunu değiştirmek"
https://stackoverflow.com/questions/72899228/change-the-original-fluttersany-framework-code

Projede status bar'ı transparent yapmam lazımdı onun için Theme'i kullanarak tüm projede transparent yaptım ama ona ek olarak SafeArea(top:false) yapmam lazım bir de yanında, ben de dedimki 30 yerde top:false yazacağına gider orijinal kodu güncellerim, varsayılan değer true idi ben false yaptım ve sorun çö

[2022-07-07 14:32] skyturkish commented on #59
Öyle böyle değilmiş, aşırı kötü fikirmiş orjinal koda dokunmak, dokunmayalım :nodders:

[2022-07-07 14:32] #59 closed, assigned to skyturkish

[2022-07-07 14:52] skyturkish commented on #59
[code]

[2022-07-08 19:14] #58 closed, assigned to nobody

[2022-07-08 19:54] VB10 commented on #59
kendisi yazdi kendisi bozdu :)

[2022-07-08 20:40] marifdev commented on #57
Homebrew kurmadan çözmek istiyorsanız, m1 işlemcilerde aşağıdaki komutu kullanabilirsiniz
`arch -x86_64 pod install`

[2022-07-11 09:02] azaderdogan opened #60 "[Flutter] Uygulama tamamen kapalı durumdayken konumunu alıp servise yollamak"
Merhabalar,
Uygulama tamamen kapalı durumdayken örneğin 5 dakikalık periyotlarla konumunu alıp servise yollamam gerekiyor. Böyle bir durumda nasıl bir yol izlemeliyim sizce? Baktığım zaman alarm manager aklıma geldi fakat sanki çok kullanışlı olmayacak gibi. Yani amacım belirli bir lokasyonun yakınından gectiği zaman bildirim yollamak.
Teşekkürler şimdiden.

[2022-07-11 12:24] aea91 commented on #60
Android ve IOS için servis yazarak. Flutter ile çok problemli bu hususta Native şart.

[2022-07-11 19:52] abdullahkaraboga commented on #60
pub.dev'de şöyle bi paket var. İsterseniz bi göz atın.

https://pub.dev/packages/background_location

[2022-07-12 00:45] aea91 commented on #60
Uygulama öldürüldüğünde bu paket işe yaramıyor.

[2022-07-12 19:19] gokhancvs opened #61 "Flutter Bloc Buggy State Issue"
Herkese merhaba. Bloc ve state'ler hakkında bi' sorum vardı. Kullanıcı butona her tıkladığında API'den bi' veri çekerken ona loading indicator göstermek istiyordum. Fakat kullanıcı butona bastığında loading indicator sadece bir kez gösteriliyor. İkinci kez kullanıcı bastığında loading indicator görünmüyor fakat count state'i güncelleniyor. Buradaki problem sizce ne olabilir?

<details>
  <summary>

[2022-07-13 23:14] EyupEnsarKus opened #62 "Future tamamlandıktan sonra otomatik olarak sayfaya navigate etme"
Herkese selamlar. Elimde bir buton var ve butona bastığımda beni farklı bir sayfaya yönlendirecek. Yönlendireceğim sayfaya dışarıdan data passliyorum ancak  Ben bu butona bastığımda verinin geldikten sonra sayfanın açılmasını istiyorum. Future tamamlandıktan sonra yönlendirilmesini istiyorum.Bunu nasıl yapabilirim yardımcı olursanız çok sevinirim

[2022-07-14 07:23] endmr11 commented on #62
.then ile yapabilirsin ama tavsiye edilmiyor. future fonksiyonu çağırdığın butonu async yapabilirsin veya yeni bir future fonksiyonu açıp orada çağırdığın fonkisyonu await ile bekleyebilirsin.

void main() {
  getAllData();
}
Future<void> getAllData() async {
  print("test1");
  await Future.delayed(Duration(seconds: 5)); //Future işlemin örnek servise istek atmak `http.get()`
  print("test2"); //

[2022-07-14 10:49] abdullahkaraboga commented on #62
FutureBuilder çözüm olabilir diye düşünüyorum.

[code]

Ekstra zaman için Timer da ekleyebilirsiniz.

[2022-07-15 11:32] isshort opened #63 "Graphql"
Herkese selamlar!
Model (toJson,fromJson) oluşturmadan graphql query ile çalışabilir miyiz.
Yani querylerimiz direck Map<String,dynamic> cunku graphql'da calistigimizda cok nested objeleri gererktiriyor.

[2022-07-15 15:31] aysealmaci opened #64 "Flutter uygulamasındaki videolar için en iyi backend"
İçersinde birçok video olacak bir flutter uygulaması için backend olarak firabase kullanmak mı daha mantıklı olur elastic, mongo db gibi teknolojileri kullanmak mı? Uygulama uzerinde açılmak istenen video seçildiğinde veri tabanından o videonun yolunu alıp media server yardımı ile açılacak.

[2022-07-16 10:20] VB10 commented on #64
selamlar
burada firebase storage acisindan video vs hiz o bir cok paramatre ve flutter ile kolay uyumu sayesinde aslinda cok kolay bir sekilde entegre edeilebilir ama amazonun s3 image store hizmetide cok iyi hizli ve daha fiyat olarak ucuz diyebilrim.

Gunun sonunda baslarken firebase guvenli iyi bir secim ama devaminda fiyat icin dusunmekl lazim.

Kendi suncunuzda bu isi db cozumleriyle yapmaniz

[2022-07-16 10:20] #64 closed, assigned to VB10

[2022-07-16 10:29] aysealmaci commented on #64
Cevabınız için çok teşekkür ederim.

[2022-07-16 16:21] Barismano opened #65 "Reordablelistview.builder ile liste elemanlarını sıralama"
Merhaba timer ile periyodik olarak rest api den json datası alıyorum ve bunu reordablelistview.builder ile göstermek ve liste elemanlarını isteğe bağlı sıralamak istiyorum  bunu nasıl yapabilirim?

[2022-07-16 18:31] abdullahkaraboga commented on #65
makale: https://medium.flutterdevs.com/reorderable-listview-in-flutter-731324f0677b

örnek repo : https://github.com/flutter-devs/flutter_reorderable_listview_demo

[2022-07-16 21:15] Barismano commented on #65
hocam bu örneklerde lokaldeki veriler kullanılıyor ben veriyi restapiye http.get ile 10 saniyede bir istek atıp alıyorum sonra gelen veriyi future ile gösteriyorum

[2022-07-17 09:36] Barismano commented on #60
Hocam Şöyle bir paket var bak istersen ben bu paketi kullanıyorum kullanıcı uygulamayı kapatsa bile servis belirlediğim endpointe lokasyon gönderiyor 5 saniyede bir. Bu paketi bulana kadar çok uğraştım umarım işine yarar

paket : https://pub.dev/packages/background_locator

[2022-07-17 09:43] azaderdogan commented on #60
aaa hocam super bu. Deneyeceğim bunu. cok tesekkur ederim.

[2022-07-17 09:56] Barismano commented on #60
Ne demek Hocam ne mutlu  yardımcı olabildiysek 👍

[2022-07-17 14:46] taylanhubeylioglu opened #66 "m1 macbook flutter cocoapods hatası"
Merhaba. Projeye google font paketini dahil ettikten sonra şöyle bir hata almaya başladım.

`Launching lib/main.dart on iPhone 11 in debug mode...

lib/main.dart:1
Warning: CocoaPods is installed but broken. Skipping pod install.
  You appear to have CocoaPods installed but it is not working.
  This can happen if the version of Ruby that CocoaPods was installed with is different from the one being

[2022-07-17 20:52] taylanhubeylioglu commented on #66
sorun çözüldü uyguladığım adımlar şu şekilde (belki bazı adımların sorunun çözümüne etkisi olmamıştır bilmiyorum): projenin ios klasöründeki runner.xcworkspace'i açtım, bundle identifier kısmının com.example şeklinde boş olduğunu gördüm, apple kimliğimi girdim. podfile dosyasını da sildim. terminalden projenin ios klasörüne gelip pod install dedim. flutter build ios komutunu çalıştırdım. flutter r

[2022-07-17 20:52] #66 closed, assigned to nobody

[2022-07-18 18:51] birhos opened #67 "2 Tane 4K Monitör ile Setup Oluşturma"
Herkese merhaba, Macbook M1 Pro'ya iki tane 4K monitör alıp bir setup yapmak istiyorum. Netden baktığımda dock stationlar işe yarıyor gibi ama çok fazla ürün var.
İki monitörü bağlayıp sorun yaşayan var mı? Kullandığınız çevre birimleri yazabilir misiniz? (Monitör, dönüştürücü, vb.)

[2022-07-18 18:54] Adiladil000 opened #68 "Clipboard"
Veli abi Selam . Panoya metin kopyalamak istiyorum ama sadece metnin bir kısmı kopyalanıyor. Misal: 10 kelimeden oluşan cümlenin sadece 6 tanesi gözüküyor ve üç nokta geliyor. Bence panonun hafızası zayıf.
![kod](https://user-images.githubusercontent.com/88295387/179582396-5ae432c5-a0cb-4c5e-9ddf-428fe8ee3a9a.png)

[2022-07-19 06:33] shahmirzali49 opened #69 "auto_route rebuild in botttom navigation"
auto_route navigasyonda bottom navigation sayfasyi veya widgeti her defasinda rebuild oluyor. senaryo şöyle: bottom navdan bir sayfaya gidiyorsun ve ordanda tamamen farki bir sayfaya gitmemize ragmen rebuild oluyor. birde son olarak auto_route un sundugu AutoTabsRouter veya auto tab scaffold falan kullanmazsak, normal scaffold page view ile bottom nav yaparsak sorun olmuyor. cunki auto_route-un na

[2022-07-19 14:37] nagihanarabaci opened #70 "Yeni mezun bilgisayar mühendisi iş arayışında nasıl bir yol izlemeli?"
Yeni bilgisayar mezunu ve tecrübesiz kişinin temel seviye veya orta seviyeye yakın Flutter bilgisi ile başvurularında dönüş alamamasına karşın nasıl bir yol izlemesi gerekmektedir ?

[2022-07-19 14:46] kadirozenn commented on #60
Merhaba, bahsettiğiniz problem karşısında daha önce flutter_foreground_task paketini kullanarak 5 dakikada bir konumu alarak sunucuya göndererek problemi çözmüştüm. Yalnız arka plan servisi başladıktan sonra bildirim çubuğunda uygulama çalıştığına dair bir bildirim çıkıyor.

paket https://pub.dev/packages/flutter_foreground_task/versions

[2022-07-19 16:12] #62 closed, assigned to nobody

[2022-07-19 20:43] VB10 commented on #60
@kadirozenn  @Barismano net cozumler lokasyonu iosda dogrudan arkadan dinlemenin bir yolu bunun icin location app yapip kullanicadan izin almak gerekiyor ve surekli dinleme gibi calsiiyor slient notifniaciton konusunada bakabilrisin ayri oalrak

[2022-07-19 20:43] #60 closed, assigned to VB10, Barismano, kadirozenn

[2022-07-19 20:48] VB10 commented on #61
buradda referanslardan oturu sorun olusabiliyor ilgili state clasini equtabile mixin ile turetip yaparsan ardindanda copywith vs yonetmelere yeni durunmu gonderip ekraninda bu state farkina gore cizmesini saglayalbirsin
https://www.youtube.com/watch?v=jctZxA5PB4s

[2022-07-19 20:48] #61 closed, assigned to VB10

[2022-07-19 21:46] VB10 commented on #70
bir expert ve yillarini vermis birisi olarak ne yazik ki tr flutter ilanina basvurmus geri dahi donulmemis birisiyim ondan dolayi tr matematigi cok farkli calisiyor.
- Burada bir cok sirket native yazdigi icin kurumsalda yer almak istiyorsak biraz fazla calisip java veya swift ile bir kac standart app misal web servisten data parse, local islemler ekran cizimi gibi
- Flutter da is bulmak icin ise

[2022-07-19 21:46] #70 closed, assigned to VB10

[2022-07-19 23:23] samet-nalbant opened #71 "Bilgisayar mühendisliğinde alan seçimi nasıl yapılmalıdır?"
Merhaba,
Yazılım teknolojilerinde alan seçimi nasıl yapılmalıdır? Kendine bir alan seçmeye çalışan arkadaşlara verebileceğiniz tavsiyeler nelerdir? Mezun olup bir alanda çalışmaya başladıktan sonra farklı alanlara yönelmek mümkün müdür? Bunu yaparken karşılaşılması muhtemel zorluklar nelerdir? Mezun olmadan bir alan seçip ona yönelmek en iyisi midir?

[2022-07-20 10:15] abdullahkaraboga opened #72 "avoid_print kuralı"
Selamlar,

Projemde console'a data yazdırmak için `print` kullanıyordum. Dart Analysis kısmında "print kullanmaktan kaçının" tavsiyesi gördüm. Linter kurallarına baktım ancak pek bi açıklama yapılmamış. Prod'a çıkarken print yerine debugPrint kullanın yazılmış.

https://dart-lang.github.io/linter/lints/avoid_print.html

Çok önemli değil debugPrint yazıp geçerim ama kafama takıldı. Production code'

[2022-07-20 11:02] abdullahkaraboga commented on #72
Kendi soruma kendim cevap vereyim :)

What should be used instead is log() function available in dart.developer, which allows to also attach an error object, severity level, name, etc. of logged even and "**won't print anything in release mode, so no information will leak.**"

Eğer "log() kullanılırsa Release modunda hiçbir şey yazdırılmaz, bu nedenle hiçbir bilgi sızıntısı olmaz". Printten kaçınm

[2022-07-20 16:02] osmancan23 opened #73 "Fazla zaman alan veri çekme işlemleri"
Örneğin bir e-ticaret uygulamasında bütün ürünlerin kategorisini çekmek istiyoruz . 1000 tane veri geliyor ve bunu drop down da göstermek istiyoruz bu işlemi göstermek istedigimiz view de çağırmak isteyince kullanıcı uzun bir süre verilerin gelmesini bekliyor. Örneğin uygulamanın home sayfasında çağırmak istersek de bu da eğer kullanıcının kategorilere ihtiyacı yoksa gereksiz yere veri çekme işlem

[2022-07-20 16:19] daybull commented on #73
Lazyload ile yapmak müşteri bekle süresini azaltır buda pagination a gelir
biraz sonuç olarak pagination değil 😇

20 Tem 2022 Çar 19:03 tarihinde Osmancan Akagündüz ***@***.***>
şunu yazdı:

[2022-07-20 16:21] VB10 commented on #73
servis tarafinda bir gelistirme olmadan yapabilecek tek bir sey var bu istegi splash gibi bir screende atip adam animasyonu izlerken datalari cachelemek, yeni geldiginde bu datayi tekrar update kotnrolu yaparak olmadigini varsayip ayni listeyi cachden gostermek

[2022-07-20 16:21] #73 closed, assigned to VB10

[2022-07-20 16:48] erenkulaksiz commented on #71
Selamlar Samet. Ben mühendislik değil 2 yıllık önlisans programı olan bilgisayar programcılığı bölümündeyim. Daha 2. sınıfa yeni geçtim. Aynı zamanda toplam 1.5 yıldır çalışıyorum, yani yazılım alanında belli bir fikir sahibi olduğumu düşünüyorum. Bu arada tavsiyelerim sadece Backend ve Frontend yani web & mobil üzerine olacak. Yazılım teknolojileri çok geniş bir dal. Benim embed sistemlere veya u

[2022-07-20 21:26] vlkan opened #74 "İyi bir Flutter geliştiricisi olmak"
Yakın zamanda yayımladığınız kursun dışında soruyorum, genel olarak Flutter ve Dart için önerdiği iz bir kitap, blog vs vsr mı? Sormamda ki amaç Flutter ı daha doğru nasıl kullanabilirim? Örnek olarak Java için Effective Java kitabı Java dilini en doğru nasıl kullanırız madde madde açıklamakta. Teşekkürler.

[2022-07-21 14:15] #67 closed, assigned to nobody

[2022-07-21 15:29] #72 closed, assigned to nobody

[2022-07-22 12:54] bartugenccan opened #75 "Swift Öğrenim Süreci"
Veli Bey merhabalar sizi bir süredir takip ediyorum öncelikle videolarınız için teşekkür ederim elinize emeğinize sağlık. Ben şu an Frontend Developer olarak bir şirkette çalışıyorum React.js ve React Native kullanıyorum. Bir dönem Swift deneyimim olmuştu ama geliştirme ortamım çok iyi olmadığından bırakıp daha rahat iş bulabileceğim React tarafına geçmiştim, o dönemde de sizin videolarınızdan çok

[2022-07-22 13:45] Mustyy61 opened #76 "Image widget List"
Merhabalar.  Bir listem var ve Listemin içinde ımage pathlarım var. Yapmak isteğim şey tüm resimleri aynı anda ekrana bastırmak. Fakat Image widgetine listename[index] veya listname.length komutu verdiğimde hata alıyorum.  Çözümünü çok araştırdım ama bulamadım biraz komik ve basit bir soru olabilir. :)

[2022-07-22 14:04] kadirozenn commented on #76
Merhaba,  bu şekilde kullanabilirsiniz. Eğer hala hata alıyorsanız mevcut kodu paylaşır mısınız?

[code]

[2022-07-22 14:46] kadirozenn commented on #68
Merhaba, paylaştığınız kodu test ettim herhangi bir bahsettiğiniz problemle karşılaşmadım.

Bir  method ve Extension yazıp test ettim gine bahsettiğiniz problemle karşılaşmadım. Acaba verileri kontrol ederken gözden kaçırdığınız bir şey olabilir mi ?

` setClipBoard(BuildContext context, String text) async {
    await text.clipBoard();
    final clipPaste = await Clipboard.getData(Clipboard.kTextP

[2022-07-22 17:37] Mustyy61 commented on #76
Cevabın için çok teşekkür ederim. Evet bu şekilde ekrana tamanını alabiliyorum listemdeki verilerin ama hepsinin farklı pozisyonlarda olması gerekıyor. Positioned widgeti ile sarmaladım ama yinede hareket ettiremıyorum.

[2022-07-22 18:13] alissorucu opened #77 "flutter & react native vs native"
twitterda notionun mobil uygulamasının react nativeden native'e geçirildiğiyle ilgili bir postla karşılaştım. Geçiş sonucunda ciddi bir hız farkından bahsedilmekte. Flutterda da bu derece performans kayıpları oluyor mu ? bu konudaki flutterın güncel gücü nedir, ? "native experience" bu videodaki kadar güçlü mü ?
https://twitter.com/NotionHQ/status/1549787378633412614?s=20&t=IPbGvrxTk9G8Z-ZFsUt_gg

[2022-07-22 18:31] Mustyy61 commented on #76
![Screenshot_1658514499](https://user-images.githubusercontent.com/102856524/180501535-efacfe7f-779f-4b01-8e38-bad83ebe2ecf.png)
Haritanın üzerinde ki gri ile boyalı yerlerin üzerine gelmesi lazım listeden gelen parçaların ama yapamadım

[2022-07-22 20:38] abdullahkaraboga commented on #77
Bu konuda sayısal karşılaştırmaların yapıldığı ayrıntılı bir [makale ](https://medium.com/swlh/flutter-vs-react-native-vs-native-deep-performance-comparison-990b90c11433) ve [akademik bir çalışma ](https://tez.yok.gov.tr/UlusalTezMerkezi/TezGoster?key=tqUiYt63sTQLTpozMJ92QmkD0Ztj83ypZ-eRG4YutLxQ3-3Ey3_OyNdeFFm4ayZ1) mevcut. İnceleyip sorunuz hakkında bilgi sahibi olabilirsiniz.

[2022-07-23 09:53] kadirozenn commented on #76
Aşağıdaki kodla sorunu çözebilir fakat responsive olmaz.

 _buildWidget()  methodun içindeki widgetList ilk endeksine attığınız resimdeki widgetleri ekleyin daha sonra fotoğrafları

[code]

[2022-07-23 12:37] VB10 commented on #77
selamlar bu karsılastırmaları ben açıkcası çok doğru bulmuyorum gerçek hayatta her şey çok farklı paremetreler ile sürüyor tabiki elinde işin mutfağını bilen aşçın varsa bununla ekip kurmak her zaman iyidir ki bir çok cross platform da aslında nativi ezmekten hiç bahsetmyior etseydi native bridge yapılarını ve rahatlıkla native yazabileceklerini öne çıkartırdı
* birde karşılaştırma yaparken hangi

[2022-07-23 12:37] #77 closed, assigned to nobody

[2022-07-23 12:39] VB10 commented on #76
bu ıster ıstemez ozel bir duruma giriyor @kadirozenn söylediği yöntemler mantıklı ama burada stack ve o elamanları oturma üzerine özel bir draw mantığı çizilmeli bana kalırsa
https://pub.dev/packages/flutter_staggered_grid_view
buna bakabilirsin

[2022-07-23 12:39] #76 closed, assigned to VB10, kadirozenn

[2022-07-23 12:48] VB10 commented on #75
Natıve ogrenme her seyden onemlı bır mobile dev için fakat eğer kariyer pathini mobil de olsun diye bakacaksak çok fazla girmeye gerek yok aslında misal backend işte yada bu tarz fw kullandığınızda flutter vs kullanmak çok native girmeye gerek yok ama gerçkten native mobile dev olunacksa cross + native şart.

burada native öğrenirken
https://github.com/matteocrippa/awesome-swift

[2022-07-23 12:48] #75 closed, assigned to VB10

[2022-07-23 13:19] VB10 commented on #71
Selam samet cok onemlı bır nokta belkı buna yazdıklarımız etki yaratacak ama lütfen kim ne yazarsa yazsın ilk unutmayacağımız bir şey kimse altın sepette sana bir şey sunmaz hangi bölümü seçersen seç aynı şey yaşanacak yaşandı.

### Alan
Bu dünyanın belki en zor sorusu ama en aslında basit cevabı olan yer. Birincisi bizim sektörde denemden eğer kulakdan duyma haraket edersen asla kendi yorumunu ka

[2022-07-23 13:19] #71 closed, assigned to VB10, erenkulaksiz

[2022-07-23 14:20] aio001 opened #78 "Firebase auth signUp"
Merhabalar firebase auth ile signin ve signup yapıyorum. SignIn yaptığımda -aşağıda görsel var- otomatik olarak home a yönlendiriyor.
-aşağıda görsel var main.dart ın- ama aynı şekilde signup yaptımda  -aşağıda görsel var- kullanıcı kayıt ediliyor ama home a yönlendirilmiyor uygulamayı kapatıp açınca yönlendiriyor. Şimdiden yardımlarınız için teşekkürler
![image](https://user-images.githubusercont

[2022-07-23 17:04] Mustyy61 commented on #76
Değerli vaktinizden ayırıp cevap verdiğiniz için çok  teşekkür ederim

[2022-07-24 19:48] kasapiniz opened #79 "Flutter Mobx de store'lar arası iletişim nasıl sağlanır"
Merhabalar, kolay gelsin.
Mobx de store'lar arası iletişim nasıl sağlanır. farklı sayfalarda aynı değerler toplu şekilde update etmek mümkün mü?
Genel olarak data çekme, gösterme, update etmek de sıkıntı yok ama birden fazla mobx store da aynı değeri update etme mantığını kavrıyamadım ve bulamadım. bunun için get_it yada provider mı kullanılmalı. Mantık olarak bir dönüş sağlarsanız sevinirim.

[2022-07-25 00:05] faithtnuc opened #80 "FutureBuilder'ın sürekli rebuild olması"
Selamlar, kafama oturmayan bir konu var size sormak istedim. Ben state management için Provider kullanıyorum. Birkaç hocanın anlatımına göre de state management olayını StatefulWidget kullanımından kaçınmak için yapıyoruz ki tüm widget ağacı gereksiz rebuild olmasın. Bu mantığa göre de ben hep view dosyalarında StatelessWidget ile sadece görsel kodları tutup, metotları, değişkenleri vs provider il

[2022-07-26 14:46] basarteknoloji opened #81 "SingleChildScrollView ile sarmalanmış Row veya Column"
Selamlar hocalarım. Örnek olarak paylaştığım satırlarda Row SingleChildScrollView ile sarıyorum. Row yada Column widgetleri ne zaman SingleChildScrollView ile sarsam "mainAxisAlignment" özellikleri çalışmıyor. Hizalama yapamıyorum. Bu kullanımdaki sorun nedir acaba ?

SingleChildScrollView(
                  scrollDirection: Axis.horizontal,
                  child: Row(
                    mainAx

[2022-07-27 08:07] hakanpeksen commented on #81
Selamlar   @basarteknoloji

    /// Row  hizalama
	return Scaffold(
        body: Center(
            child: SingleChildScrollView(
      child: Row(mainAxisAlignment: MainAxisAlignment.end, children: const [
        Text('test1'),
        Text('test2'),
      ]),
    )));

    /// Column hizalama
     return Scaffold(
       body: Center(
             child: SingleChildScrollView(
      child: Co

[2022-07-27 08:20] abdullahkaraboga commented on #81
Ek olarak SingleChildScrollView yerine Listview de kullanabilirsiniz. Kullanacağınız widgetlerı liste içinde sıralayayıp direction da verebilirsiniz.  Ek olarak controller da kullanabilirsiniz. Listview kullanırsanız daha esnek arayüz tasarlama imkanı olur diye düşünüyorum.

[2022-07-27 08:30] endmr11 commented on #74
Effective Dart icin kendi dokumanlari var
https://dart.dev/guides/language/effective-dart
https://dart.dev/tools/linter-rules#prefer_collection_literals

[2022-07-28 06:13] Mustafaseyhanhh opened #82 "Getx mi block yapısı mı ? Nasıl karar vermeliyiz?"
Merhabalar. Öncelikle içeriğiniz, videolarınız ve en çok da bizlere zaman ayırdığınız için çok teşekkür ederim. Yaklaşık 1 aydır Flutter çalışıyorum. Öncesinde birçok eğitim alıp izleyip anlamaya çalıştım ancak hiçbirisi sizin içeriğiniz kadar etkili ve anlaşılır değildi. Tekrar çok teşekkür ediyorum.

 Size bir sorum olacak. State management, navigation vb işlemler için getx çatısını kullanmak ha

[2022-07-28 06:24] skyturkish opened #83 "Change ThemeData with provider read"
https://stackoverflow.com/questions/73145602/change-themedata-with-provider-read

Change theme yapıyorum ama aklıma bir şey takıldı, biz zaten bunu tetikleyerek değiştiriyoruz, bu zamana bağlı bir şey veya o tip bir şey değil, biz bunu neden watch ile izliyoruz. read ile okumamız gerekmiyor muydu

[2022-07-28 07:39] hakanpeksen commented on #83
selamlar  @skyturkish
   context.read<T>()  // _currentTheme i değiştiriyor, fakat widget ağacını yeniden oluşturmuyor(dinleme yapmıyor)

    context.read<T>()    // Provider.of<T>(context, listen: false)
    context.watch<T>()    // Provider.of<T>(context)

[2022-07-28 07:59] #83 closed, assigned to nobody

[2022-07-28 07:59] safauludogan opened #84 "Mail'e gönderilen link üzerinden Flutter uygulamasını açma"
Veli hocam merhaba,
Yapmış olduğum projede mail adresine gönderilen linke tıklandığı durumda Flutter uygulamamın açılmasını istiyorum. Bu konuda hangi dökümanı araştırmalıyım veya sizin böyle bir projeniz var mı? Yardımcı olabilir misiniz. Teşekkürler şimdiden

[2022-07-28 08:04] abdullahkaraboga commented on #82
Merhaba, "bence" state management yapısına ilk giriş için getx yeterli olur. Observable çalışma mantığını öğrendikten sonra "getx'in kolaylık olarak nitelendirdiği (sizin de bahsettiğiniz navigation, snackbar, dialog vb)" olayların context bağımlılığı ile nasıl yapıldığını öğrenirseniz daha iyi olur. Sonra da diğer state management yapılarına bakabilirsiniz.

[2022-07-28 08:13] abdullahkaraboga commented on #84
Merhaba, [burada](https://stackoverflow.com/questions/53770563/how-to-open-flutter-application-from-url) benzer bir soru sorulmuş.  [Şu paketi ](https://pub.dev/packages/app_links) de inceleyebilirsiniz.

[2022-07-28 08:38] safauludogan commented on #84
Benim bahsettiğim uygulama içinden link açılması değil tam tersi link üzerinden uygulamanın açılması

[2022-07-28 09:31] basarteknoloji commented on #81
Selamlar. Öncelikle değerli cevap ve yorumlarınız için çok teşekkür ederim . Hakan bey gönderdiğiniz kod bloğunu denediğimde hizalamanın doğru çalışmadığını görüyorum. [https://www.basarteknoloji.com/hakanpeksen.JPG](url)

Center ile sarmalamasam da basit bir kod bloğunda hizalamayı örnekteki kodlar ile yapamamış oluyorum. Buradaki sorun nedir ?
[https://www.basarteknoloji.com/singleChildScrollVie

[2022-07-28 10:03] okmsbun commented on #81
Merhaba scrollDirection `horizontal` olduğu için `Row` un `mainAxisAlignment`'ını kullanamassınız. Aynı şekilde scrollDirection `vertical` olsaydı `Column` için `mainAxisAlignment`'ı kullanamayacaktınız. Çünkü ilgili yönde sonsuza kadar item eklenebilir ve bunun bir sınırı yok.

Çözüm için `Row `'u `SizedBox`(vb.) ile sarıp ona bir uzunluk verilebilir. Örneğin cihazın genişliği.
[code]

Yada `List

[2022-07-28 11:05] hakanpeksen commented on #81
/// Column hizalama  düzenlendi
  return Scaffold(
  appBar: AppBar(),
  body: SingleChildScrollView(
    child: SizedBox(
      width: MediaQuery.of(context).size.width,
      height: MediaQuery.of(context).size.height * 0.3,
      child: Column(mainAxisAlignment: MainAxisAlignment.spaceBetween, children: const [
        Text('test1'),
        Text('test2'),
      ]),
    ),
  )),

[2022-07-28 19:15] basarteknoloji commented on #81
Sanırım aradığım çözümlerden biri "sizedbox" ile sarmalamak. Bünyamin beyin nezdinde yorum ve çözümleriniz için  teşekkür ederim.
Konuları soruyu soran kişimi kapatıyor yoksa yönetici olarak Veli hocam mı bilmiyorum bilgi bırakabilirseniz sevinirim.
Saygılarımla.

[2022-07-28 21:26] VB10 commented on #79
Bu tarz isler icin provider gibi ust bir katman kurmak lazim misal birden fazla store yonecekse core bir manager yapip bu vm leri oradan turetip referanslari dinleyip degistreiblrsiniz. buradaki amac rootda bir yapi olusturabilmek bunu paketle veya elle yapaiblrisin

[2022-07-28 21:27] #79 closed, assigned to VB10

[2022-07-28 21:29] VB10 commented on #55
bu konuda bir bilgim yok acikcasi

[2022-07-28 21:29] #55 closed, assigned to nobody

[2022-07-28 21:29] VB10 commented on #74
volkan diger sorularda bunun cevabini verdik kapitilmis cevpalara bakarsin

[2022-07-28 21:30] #74 closed, assigned to VB10, endmr11

[2022-07-28 21:30] VB10 commented on #65
@Barismano ayni sekilde kurgulayalbirsin burada local veya future olmasi gerek yok sadece future builder yapma nromal bir setstate vs il yonet

[2022-07-28 21:30] #65 closed, assigned to VB10, abdullahkaraboga

[2022-07-28 21:32] VB10 commented on #63
yani yapabilrisin.  bunu kullanabilrisin https://pub.dev/packages/graphql

[2022-07-28 21:32] #63 closed, assigned to VB10

[2022-07-28 21:35] VB10 commented on #82
getx kullanmak evet projeler icin avantajli gozukuyor ancak buyuk proje buyuk takimlarda bunun yapilarinin parca parca ypailma taraftariyim/ cunku yazilim teknik tabilerini ogrenem adina cok onemli. Takim buyuklugu varsa bunlar goze alinlmali. he bazen projeler 1 aylik deadline sikisiyor ve bitmesi gerekiyor o sartlarda getx ile gidebilir. ama getx dahi olsa abstactionu bol bol yapmak lazim.
auto

[2022-07-28 21:35] #82 closed, assigned to VB10, abdullahkaraboga

[2022-07-28 21:37] VB10 commented on #69
auto route instanceini olsutrugun yere bir bak derim bu tarz issueleri auto_route reposuna atarsan daha iyi sonuclar alabilrisin.

benim repoda tekrar bir teyit et

[2022-07-28 21:37] #69 closed, assigned to VB10

[2022-07-28 21:38] VB10 commented on #68
bidligim konuda bir problem yok ama tekrar bir yeyit etmek lazim problem devam ediyorsa ilgili flutter core repoya issue acaiblrsin

[2022-07-28 21:38] #68 closed, assigned to VB10, kadirozenn

[2022-07-28 21:40] Barismano commented on #65
Tamamdır hocam

[2022-07-28 21:42] VB10 commented on #84
bu konu iki sekilde incelenmel ibirincisi dynamic link ikincisi universal. universal link app icinde navigation yapar dynamic link google play vs indirmelrde ise yarar bu basliklar ile flutter tarafinda bulaiblirsin cozumleri.

[2022-07-28 21:42] #84 closed, assigned to VB10, abdullahkaraboga

[2022-07-28 21:44] endmr11 commented on #84
https://pub.dev/packages/firebase_dynamic_links direkt sorunun cevabi

[2022-07-28 21:45] VB10 commented on #80
yetersizlik konusu asla soz konusu degil sadece ney neden dogru dusunmek lazim future builder bir widget ve tree tetiklendiginde tkerar tekrar calsiiyor burada cok basitce soyl yapabilrisin
Future x
initstate{  x = getAll}

Futurebuilder( x)
dersen o bir daha tetiklemez.

[2022-07-28 21:45] #80 closed, assigned to VB10

[2022-07-29 08:25] faithtnuc commented on #80
Hocam teşekkürler cevabınız için. Ben de o yöntemi kullanıyordum içim rahatladı şimdi. Bu yöntem için StatefulWidget kullanmam gerekiyor bu da performansı kötü etkiler diye bir şey duymuştum bir yerden o beni sıkıntıya sokuyordu ama öyle bir şey yokmuş sanırım. Tüm widget treeyi güncellemedikten sonra StatefulWidget kullanmakta bi sakınca yokmuş anladığım kadarıyla.

[2022-07-29 08:36] mdizman opened #85 "Flutter FirebaseFirestore'dan veri çekerek kullanıcı profili oluşturma."
Merhabalar. Flutter alanında üzerinde uğraştığım bir projem var.
return GestureDetector(
                                      onTap: (){
                                        Navigator.push(context, MaterialPageRoute(builder: (_)=> Anasayfa()));
                                      },
                                      child: Card(
                                        elevation: 0,

[2022-07-29 11:16] sinapsis793 opened #86 "Notification İşlemleri Hakkında"
Merhabalar,

Notification işlemleri hakkında, özellikle uygulama kapalıyken alınan bildirime tıklandığında sayfalara yönlendirme yapmak gibi, bir örnek video hazırlamanız mümkün olur mu?

Kolaylıklar dilerim.

[2022-07-29 12:25] burakcanyildirim opened #87 "Flutter'da oluşturduğum galerideki fotoğrafları nasıl grupladırırım?"
Aynı tarihte çekilmiş fotoğrafları nasıl gruplandırırım?
Bu benim yaptığım:

[![enter image description here][1]][1]

Böyle yapmak istiyorum:

[![enter image description here][2]][2]

  [1]: https://i.stack.imgur.com/ikvoB.jpg

  [2]: https://i.stack.imgur.com/dJdmI.jpg

[code]

[2022-07-29 13:03] sinanhaci commented on #87
fetchPhotos metodunu ve VideoImageDataModel modelini de paylaşabilir misin?

[2022-07-29 13:05] sinanhaci commented on #86
Selam, eğer bildirimler için Firebase kullanmayı düşünüyorsan, https://firebase.flutter.dev/docs/messaging/usage adresindeki döküman gayet açık. Tüm durumlar için nasıl kontrol sağlamanız gerektiğini kolay bir şekilde örnekleyerek anlatıyor. Göz atmanı tavsiye ederim.

[2022-07-29 13:10] sinanhaci commented on #85
Selam, uzun süredir firebase kullanmıyorum ancak şu şekilde halledebiliyor olman gerekli,
Firestore.instance.collection('collection_adi').where("b_adsoyad", isEqualTo: "gönderilecek_parametre").get();

[2022-07-29 13:20] sinapsis793 commented on #86
Selamlar,

Dönüşünüz için çok teşekkür ederim. Bildirim atma konusunda problem yaşamıyorum aslında ama bildirim atıldıktan sonra tıklama esnasında alınan datalara göre uygulama içerisinde iç sayfalara erişim konusunda problem yaşıyorum. Kodlama anlamında da örnek olması açısından güzel bir anlatım yapılabilir diye düşündüğüm için sormuştum.

[2022-07-29 13:26] burakcanyildirim commented on #87
Aslında fotoğraf verilerini sqlite tablosunda tutuyorum. Adını  thumbnail altında tutuyorum. Millisecond fotoğrafları kaydederken DateTime.now().millisecondsSinceEpoch ile kaydedildiği zamanı alıyorum.Bunu fotoğrafın altında zamanı göstermek için kullanıyorum.

[code]

[code]

Bu döngüylede tarihin nerede değiştiğini bulabiliyorum.

[code]

[2022-07-29 13:36] abdullahkaraboga commented on #86
Merhaba, [şöyle ](https://www.youtube.com/watch?v=l1OZFl45p3c)bir anlatım işinize yarayabilir.

[2022-07-29 13:56] mdizman commented on #85
Sinan bey öncelikle çok teşekkür ederim deneyeceğim şu an. Gönderilecek parametre kısmına ne yazmam lazım acaba biraz takıldım o konuda.

[2022-07-31 10:50] sinanhaci commented on #87
Yani açıkçası çok anlayamadım ancak eğer bir listedeki elemanları tarih saate göre sıralamak istiyorsan
`list.sort(((a, b) => a.tarih.compareTo(b.tarih)));`
gibi bir kullanımla tarih saate göre datayı sıralarsın. Sonrasında sıraladığın dataları aynı tarihlere göre gruplayabilirsin.

[2022-07-31 10:51] sinanhaci commented on #86
Benim attığım bağlantıda bu söylediklerinizin hepsini gösteriyor zaten.

[2022-07-31 10:53] sinanhaci commented on #85
kodunuzdan anladığım kadarıyla bu kısmı göndermelisiniz: listOfDocumentSnapshot[index]['b_adsoyad']

[2022-07-31 11:13] aekaba opened #88 "Store a atılcak uygulama için güzel fotoğraflar"
Merhabalar. Kendi CV mi bir uygulama haline getirdim ufak çaplı. Bunun için diğer uygulamalar gibi telefonun içinde uygulamayı gösteren insan eli flan olan fotoğrafları nasıl yapabileceğimi sormak istedim. Emulatörün ss ini almak biraz kötü duruyor birazdaha iyi birşey arıyorum. Birde öğrenciyim free olursa sevinirim. Evet hem professiyonel hemde bedava birşey arıyorum zor ama nasıl yapılcağı hakk

[2022-07-31 18:00] abdullahkaraboga commented on #88
[Şuradaki](https://hotpot.ai/app-store-screenshot-generator) picture generator sanıyorum işinizi görür.

[2022-07-31 20:06] boraerdev opened #89 "Swift State Paylaşımı"
Üzerine çalıştığım projeye firebase firestore ile chat entegre ediyorum. Algoritmaları kurdum, kullanıcıdan kullanıcıya mesaj gönderip alabiliyorum her şey tamam gibi.

Bir kullanıcıya mesaj attığımda o mesajı anında ekranda göremiyorum pageden exit olup geri girmem gerekiyor, sanırım pagewiev initi tekrar çalıştırmam gerekiyor. Stateobject kullanmama rağmen durum güncellemelerinin neden yapılamad

[2022-08-01 20:16] #89 closed, assigned to nobody

[2022-08-01 22:48] saitcihaner commented on #75
Veli Abim çok güzel paylaşmış bende nacizane component ve mimarileri kapsayan https://github.com/jrasmusson/ios-starter-kit paylaşıyım.Çok faydasını gördüm yeni başlayanlarda.
VB CANDIR

[2022-08-02 13:08] mdizman commented on #85
Merhabalar. Benim gibi böyle bir çözüme ihtiyaç duyan arkadaş var ise kendi çözümümü paylaşmak istedim.
-Öncelikle geçiş yapmak istediğimiz sayfanın StatefulWidget kısmına bir bir string tanımlayın. Bu string in amacı veri almak istediğimiz sayfa ile aracı olmak.

class Anasayfa extends StatefulWidget {
  //Anasayfa({Key? key}) : super(key: key);
  String kullaniciAdSoyad;
  Anasayfa({this.kullani

[2022-08-03 08:31] sinanhaci commented on #85
Ben senin sorununu:  "Firebase'den sorgu ile data çekmek" diye anlamıştım. Şuan senin yaptığın işlem constructor ile farklı sayfaya data taşımak. Sanırım en başta anlaşamadık :)

[2022-08-03 10:37] abdullahtas0 opened #90 "BottomNavigationBar'ı Tüm Sayfalarda Görüntüleme -GetX"
GetX kullanıyorum ve oluşturduğum bottomnavigationbarı tüm sayfalarda kullanmak istiyorum. Bunun için denemediğim yol kalmadı herhalde. CupertioneTab'dan keepalive kadar bütün yolları denedim ancak nafile. En son paket kullandım persistentnavbar ancak onunla da başarılı olamadım.
Özetlemek gerekirse ana sayfaların olduğu kısımda bottomnavbarı görüntüleyip sayfalar arasında gezebiliyorum ancak soru

[2022-08-03 10:56] aekaba commented on #88
Teşekkürler

[2022-08-03 10:56] #88 closed, assigned to abdullahkaraboga

[2022-08-03 11:34] mdizman commented on #85
Aslında amacım o şekilde sorgu ile çekmekti doğru anladınız. Ama Navigator.push ile data taşındığını yeni öğrenince o şekilde yapabilirim diye düşündüm. Çok teşekkür ederim.

[2022-08-03 11:38] okmsbun commented on #90
Yanlış anlamadıysam sorunun GetX ile bir ilgisi yok gibi. Eğer öyle değil ise lütfen beni düzelt.

En basit şekilde bir tane base widget yazıp, sadece navigation bar'ın görünmesini istediğin sayfaları bu `BaseWidget` ile sarmalayabilirsin.

Tavsiyem oluşturduğun tüm sayfaları `BaseWidget` ile sarıp, navigation barı gösterip göstermediğini parametre olarak göndermek. Çünkü ileride tüm sayfalarında

[2022-08-03 13:27] Hamittrpn opened #91 "Flutter Otomasyon Testi"
Herkese merhaba,

Flutter ile geliştirmeye başlayacağımız uygulamanın test tarafında tester arkadaşların otomasyon testlerini yazıp işletebileceği platform ve entegrasyon tavsiyeleriniz neler olur? Araştırmalarımda **TestingBot** ve **Appium** ile bir otomasyon testi entegrasyonu olabileceğini gördüm. Fakat TestingBot dökümantasyonunda sanırım deprecate olmuş olan **flutter_driver** paketini kulla

[2022-08-03 13:51] abdullahtas0 commented on #90
Öncelikle kıymetli yanıtınız için teşekkür ediyorum. Bir base oluşturmuştum ancak bu yapınızı bu base yapısına nasıl uyarlayacağımı bilemedim. Bu konuda yardımcı olabilirseniz sevinirim.

BASE_VIEW

[code]

NASIL KULLANDIĞIMA DAİR ÖRNEK

[code]

[2022-08-03 14:54] okmsbun commented on #90
Umarım bu yardımcı olur.

**BaseView**
[code]
**HomeView**
[code]

[2022-08-03 16:49] abdullahtas0 commented on #90
Çok teşekkür yardımınız için,size çok sağolun Allah razı olsun

[2022-08-03 17:13] abdullahtas0 commented on #90
Hocam çok özür diliyorum sizden önccelikle. Kusuruma bakmayın lütfen. Ben sayfa değiştirmek için scaffoldun body'de indexed stack kullanıyordum. Burada ontap ile itemleri sseçebiliyorum ancak sayfa değişmiyor. Bunun için nasıl bir yol izlemeliyim acaba? Ontap içinde switch case ile indexe göre yönlendirme mi yapmam gerekir?

[2022-08-03 20:08] okandemirofficial opened #92 "Generic Classlar ile Çalışma"
Merhaba Herkese,

Hem kendi projelerimde kullanıp hem de pub.dev'e atmak üzere basit bir typehead yapmak istiyorum. Base bir model class'ı oluşturdum ve bundan türetilen classı onSelected metodunda parametre olarak göstermek istediğimde aşağıdaki gibi bir hata alıyorum.

Yaptığım paketin hata alan basitleştirilmiş kodları şu şekilde:

Models:
[code]

TypeHead Class:
[code]

[code]

Result Widget:

[2022-08-03 20:21] okmsbun commented on #90
Hiç sorun değil fakat bu sorduğunuz çok kapsamlı ve karışık bir konu ve bu issue' nin konusu değil :)
`GetX ` ile `State Management` için birden fazla yol bulunuyor. Bu yolu seçerken tüm yollara göz atmanız gerekli ve kendi ihtiyacınızı en iyi şekilde yarayan yolu siz seçmelisiniz.  Öncelikle aşağıdaki kaynaklara bakabilir ve çok daha fazla kaynak bulup onlara bakabilirsiniz.

Senin problemine ise

[2022-08-03 21:04] abdullahtas0 commented on #90
Hocam yanıt için teşekkür ederim benim kast ettğim şey baseview ile alakalı. Yani base bottomda bu işlemi nasıl gerçekleştireceğim bunu soruyordum. Bu işlemi ben bottomview içerisinde yapıyordum. Ancak bottom bir base haline gelince bunu base üzerinde nasıl yapacağımı sormak istedim aslında. Mesela geçici olarak şöyle bir şey yaptım;

[code]

[2022-08-04 06:20] okmsbun commented on #90
Bottom bar'ı `BaseView` dan `extends`  yapmaman lazım. Çünkü BaseView bir ekranda bir tane olmalı ve ilgili ekranın Widget ağacının en üstlerinde bir yerlerde olmalı. Kendine Başka Base Widget lar yapabilirsin tabi. Ama cevabını verdiğim BaseView sadece bir sayfada bir tane olmalı çünkü bir `Scaffold` dönüyor. Bunu sardığın tüm widgetlar `ekran` gibi davranacaktır.

Bu yüzden eğer ihtiyacın var is

[2022-08-04 08:49] kadirozenn commented on #92
Hocam kodlara baktımda, hatayla ilgili pek bir şey bulamadım. Ama yaptığınıza benzer daha önceden bir kod yazmıştım belki işinize yarayabilir.

Model

[code]

Widget

[code]

[code]

[2022-08-04 11:19] kadirozenn commented on #92
Hocam problemi az önce generic class  ile bir işlem yaparken  sizin problemi çözdüm  :D _HorizontalTypeHeadState extend ederken aşağıdaki kod satırını kullanın. _HorizontalTypeHeadState i state den extends ederken Generic tip de olduğunu belirtmemişsiniz bundan dolayı sorun oluşuyormuş

[code]

[2022-08-04 11:29] okandemirofficial commented on #92
Aaa çok teşekkür ederim :) Gerçekten gözümden kaçmış ve dediğiniz şey işe yaradı. Kaç gündür bununla uğraşıyordum teşekkür ederim 😊

[2022-08-04 11:29] #92 closed, assigned to kadirozenn

[2022-08-04 11:38] kadirozenn commented on #92
Rica ederim, iyi çalışmalar

[2022-08-04 14:00] kadirozenn opened #93 "Fluttter xml convert model"
Merhaba, Xml verilerini  modellere dönüştürüp ve bu verileri modellere aktarabileciğim kütüphane vs bir yolu var mı ?  ( json verilerini modellere dönüştürüp parse işlemi gibi kolay)

[2022-08-04 14:33] okmsbun opened #94 "Widget'ın child'ında hangi tipte bir Widget olduğunu nasıl bulurum"
Birbirinden farklı `Widget` ların bulunduğu bir `liste`ye `extension` yazıyorum. Bu extension listedeki tüm widget ları `Padding` ile sarıp tekrar liste olarak döndürüyor. Ve tüm widget arasına boşluk vermiş oluyorum.

Fakat listedeki widgetların birinde en üstte, widget ağacının en tepesinde `Expanded` Widgeti bulunuyor. Bu yüzden yazdığım extension, Expanded widgetini Padding ile sarıyor. Expand

[2022-08-04 14:35] abdullahkaraboga commented on #93
Sanırım [böyle](https://jsonformatter.org/xml-to-dart#Sample) bir tool işinize yarar.

[2022-08-04 14:38] kadirozenn commented on #93
Attığınız tool daha öncedim tüm veri tiplerini String olarak algılıyor

[2022-08-04 20:30] VB10 commented on #92
elınıze saglıkkk

[2022-08-04 20:33] VB10 commented on #88
elinize sağlık

[2022-08-05 07:00] kadirozenn commented on #94
Merhaba, is anahtar  kelimesiyle widgetların hangi türden olduğunu bulabilirsin.

[code]

[2022-08-05 07:06] okmsbun commented on #94
Cevabın için teşekkür ederim. Fakat elementin kendi tipine değil `ilk child`'ının tipine bakmak istiyorum.

[2022-08-05 07:41] abdullahkaraboga commented on #94
Flutter inspector'den Widget Tree'ye bakmayı denediniz mi ?

[2022-08-05 08:38] okmsbun commented on #94
Flutter inspector'u dart tarafında kullanabilir miyim? nasıl kullanırım?

[2022-08-05 12:22] kadirozenn commented on #94
Hocam belki bu işinizi görebilir

[code]

[2022-08-05 14:13] okmsbun commented on #94
Hocam  öncelikle çabanız için çok teşekkür ederim.
Ama bu şekilde olmaz çünkü element widget'i `StatelessWidget` yada `StatefulWidget` ise çalışmaz. StatelessWidget yada StatefulWidget dan extends edilen widgetin child property sine zaten ulaşılamıyor. Yani `is Container` yada `is Center` her zaman `false` dönecek ve hiçbir zaman `child` ' a ulaşamayız.

Sizin gösterdiğiniz örnekte `is Container`

[2022-08-05 20:22] abdullahtas0 commented on #90
Öncelikle geç yanıt için kusura bakmayın lütfen. Ancak bu çözümde ilk attığım koddan farkı ne onu anlayamadım. Yukarıda sizin vermiş olduğunuz kodlarda bir sorun yok ancak şuanda sorun; Sayfalar değiştiğinde ki onTap fonksiyonuna yazdığım if'lere yönlendirme yapıp geçiyorum- Sayfa değişince navbar seçili olan index değerini aktif olarak görmüyor. Yani aktif icon buton rengi kırmızı ise sayfa değiş

[2022-08-06 00:24] asimolpiq opened #95 "Abstract ekstra stateful class türetmek"
Herkese selam dostlar.
[https://youtu.be/_v7m71TXFww?list=PL1k5oWAuBhgXdw1BbxVGxxWRmkGB1C11l&t=663](url)

Videoda yer alan yerde ;
`import 'package:flutter/material.dart';

abstract class LoadingStateful<T extends StatefulWidget> extends State<T> {
  bool isloading = false;
  void changeLoading() {
    setState(() {
      isloading = !isloading; //eğer bu fonksiyon çağırılırsa bool değerimizi tam

[2022-08-06 02:04] asimolpiq commented on #95
Okay cevabı  [https://www.youtube.com/watch?v=crKJEBxyxS8](url)  bu videoda buldum. Teşekkürler :)

[2022-08-06 02:04] #95 closed, assigned to nobody

[2022-08-06 04:57] okmsbun commented on #90
Hocam özür dilerim ben sizin 2. sorunuzu sürekli yanlış anlıyorum. Size tavsiyem eğer 1.sorunun cevabı yeterli ise bu issue yu kapatıp, bu issuyu referans göstererek yeni bir issue açmanız. Eminim yardımcı olacaklardır. Tekrardan kusura bakmayın iyi çalışmalar :)

[2022-08-06 11:25] abdullahtas0 commented on #90
Çok teşekkür ederim her şey için çok sağolun!

[2022-08-06 11:25] #90 closed, assigned to nobody

[2022-08-06 11:58] okmsbun commented on #90
rica ederim iyi çalışmalar

[2022-08-06 15:14] SonerBscfc opened #96 "Flutter uygulama güncelleme ve remote?"
Yapmış olduğumuz Flutter projelerini canlıda nasıl tutabiliriz? Şu an sürekli yeni apk alarak uygulamayı güncelliyorum. Fakat bunun daha kolay bir yolu var mıdır? Mesela Remote bir şekilde yapabileceğim? Neleri, hangi kavramları öğrenmem-araştırmam gerek?

[2022-08-06 15:40] nuriulgen opened #97 "Provider ile theme değiştirmeye çalışıyorum ama tema hiçbir şekilde değişmiyor. Eksik veya hatalı kısım nerede acaba"
<img src="https://user-images.githubusercontent.com/45700377/183255633-319a9479-8df3-44db-80c8-659fec3beabb.png"  width="500" height="350" />

<img src="https://user-images.githubusercontent.com/45700377/183255667-e01cd078-e2f2-4187-840d-439efecb6a0f.png"  width="500" height="350" />

<img src="https://user-images.githubusercontent.com/45700377/183255777-92a19bb4-6ce0-46ac-a2c5-ad96eefc0be9.png"

[2022-08-06 16:53] hakanpeksen commented on #97
Selamlar,  main.dart da  ChangeNotifierProvider ı oluşturduğun için,  ThemeChangeState sayfanda  bir daha  ChangeNotifierProvider ı  oluşturman  gerekmiyor,
kodların doğru çalışması lazım

[2022-08-06 18:19] abdullahtas0 opened #98 "BaseView BottomNavigationBar Sorunu"
Baseview yapımda bottomnavbar kullanıyorum, ancak sayfayı değiştirdiğimde aktif simge değişmiyor. GetX kullanıyorum ve yönlendirmelerin nasıl yapılacağı konusunda yardıma ihtiyacım var. Sanırım sayfaları değiştirdiğimde state durumunu koruyamıyor ve yeniden inşa oluyor. Bu nedenle sayfa değişse bile aktif simge değişmiyor. Baseview yapısı doğru mu bilmiyorum ama anladığım kadarıyla sorun ekranları

[2022-08-06 18:28] VB10 commented on #98
bu tarz soruları oncelıkle stack overflowa acıp oradan buraya acmanı tavsiye ederim
kolay gelsin

[2022-08-06 18:28] #98 closed, assigned to nobody

[2022-08-06 18:30] VB10 commented on #97
bu tarz soruları öncelik stackoverflow üzerinde açmak teknik olarak gelişim ve o rayı anlama adına kodsal bir sorun yok gibi duruyor

[2022-08-06 18:30] #97 closed, assigned to nobody

[2022-08-06 18:30] VB10 commented on #96
remote config kavramını öğrenmen yeterli olacaktır. firebase vya kendi custom servisin. bu flutter değil genel bir config managment olarak geçer

[2022-08-06 18:30] #96 closed, assigned to VB10

[2022-08-06 18:33] VB10 commented on #94
bu tarz bir extensıon her wıdgetı anlamak yerine yapacağın extensionda iki tane ayrım yaparsın bunu kullanıcı karar verir is expanded gibi gibi flutter html paketine bakabilrisn orada misal listview column olarak tipe vereibliyoruz

[2022-08-06 18:33] #94 closed, assigned to nobody

[2022-08-06 18:48] abdullahtas0 commented on #98
Hocam maalesef sormadığım yer kalmadı, en son yer olarak buraya açıyorum. Diğer platformlardan arkadaşlar bağlanıp baktılar onlarda anlamadılar,bir çözüm üretemediler...
Teşekkür ederim :)

[2022-08-06 18:50] VB10 commented on #93
bildigim yok bu konuyda stack over flow da aramani oneririm

[2022-08-06 18:50] #93 closed, assigned to nobody

[2022-08-06 18:50] VB10 commented on #91
kanalda otomasyon uzerine cekmis oldugum bir videom var ona bakaiblrisin @Hamittrpn kolay gelsin
https://www.youtube.com/watch?v=km5m-Bv825c

[2022-08-06 18:50] #91 closed, assigned to VB10

[2022-08-08 06:30] sinanhaci opened #99 "Yüklü uygulamanın iconunu değiştirme"
Selamlar,

Bazı uygulamalarda doğum günlerinde filan uygulamanın iconu değişiyor, yada normal account sahibiyken premiuma geçince uygulamanın simgesi değişiyor. Bu olayı flutter ile yapmak mümkün müdür? Böyle bir deneyimi olan var mı daha önce?

Teşekkürler

[2022-08-08 06:41] aydemiromer commented on #99
Fikir olması adına söyülüyorum firebase remote config ile uygulama içi değişiklikler yönetilebiliyordu uzaktan belki icon tarafıda o şekilde sağlanabilir (Sadece fikir)

[2022-08-08 08:43] abdullahkaraboga commented on #99
Kullanıcının doğum gününü ya da kullanıcı tipini localde DateTime olarak saklamanız daha mantıklı bence.

İcon değiştirme olayını manuel olarak yapmak isterseniz icon değişimi için ayrı build almak gerekiyor mu yoksa runtime'da mı icon atanıyor öğrenmeniz gerekiyor.

[Şu paketi](https://pub.dev/packages/flutter_dynamic_icon/versions/2.0.0) inceleyin isterseniz. Sorunuza çözüm olabilir sanırım.

[2022-08-08 09:14] abdullahkaraboga commented on #99
Kullanıcının doğum gününü localde DateTime olarak saklamanız daha mantıklı bence. Aynı şekilde kullanıcı tipini de int olarak saklayabilirsiniz.

İcon değiştirme olayını kendiniz yazmak isterseniz icon değişimi için ayrı build almak gerekiyor mu yoksa runtime'da mı icon atanıyor öğrenmeniz gerekiyor.

[Şu paketi](https://pub.dev/packages/flutter_dynamic_icon/versions/2.0.0) inceleyin isterseniz. S

[2022-08-08 11:07] sinanhaci commented on #99
Evet tam olarak aradığım şey bu aslında ancak bu kütüphane de android desteği yok. Biraz daha araştırayım. Teşekkürler

[2022-08-08 12:31] urazalkis opened #100 "Telefon dönmesine rağmen sabit kalan nesne uygulaması"
Arkadaşlar merhaba.Bu konu nasıl adlandırılır bilmiyorum onun için bir video içerik ile anlatmak istedim.Tam da bu videodaki gibi telefon ekranı döndüğü halde sabit duran nesne örneğin pusula gibi ama tam da değil aslında.Bunu nasıl gerçekleştirebilirim ya da herhangi bir flutter paketi mevcut mudur bu işlemleri yapabileceğim? Teşekkürler
https://user-images.githubusercontent.com/43914441/18341792

[2022-08-08 13:47] abdullahkaraboga commented on #100
"Ben olsam" pub.dev'de sensors_plus eklentisinden gyroscope özelliğini kullanıp gelen değeler ile  sarmaladığım widget'a dönme açısı verebileceğim bir widget(RotationTransition, RotatedBox vb) kullanarak angle değerlerini dynamic olarak güncellerdim. Böylelikle harekete göre ters değerler vererek widget'ı sabit tutardım.

[2022-08-08 14:22] urazalkis commented on #100
gyroscope özelliği sanırım kilit nokta.sensor_plus da bunu sağlıyor bu ekletiyi araştıracağım teşekkürler.

[2022-08-09 08:07] faithtnuc opened #101 "Orientation animasyonu olmadan yeni sayfa geçiş yapma"
Selamlar,

Ben Netflix tarzı bir video izleme uygulaması yapıyorum. Uygulama portrait modda çalışıyor ancak içeriğe tıklandığında video player'ı farklı bir sayfada açıp o sayfayı landscape yapıyorum ki full ekran izlensin. Bu olurken de dolayısıyla önce ekranda bir dönme animasyonu oluyor ve öyle açılıyor. Videodan geri çıktığımda da önce geri çıkıyor ve sonra bir dönme animasyonu oluyor. Bunu Flu

[2022-08-09 09:28] abdullahkaraboga commented on #101
Benzer bir [soru](https://stackoverflow.com/questions/72898577/how-to-turn-off-screen-rotation-animation-while-switching-from-landscape-to-port), faydası olabilir.

[2022-08-09 22:26] faithtnuc commented on #101
Bir kişi native tarafta bir şeyler önermiş ama tam anlayamadım. Diğer kişiler ve başka konularda da genelde yanlış anlayıp orientation'ı kitlemeyi anlatmışlar. Ben araştırmaya devam edeyim bulamazsam da o şekilde kalacak yapacak bir şey yok. Teşekkürler

[2022-08-10 10:40] mdizman opened #102 "Navigator.push ile data aktarımı"
Merhabalar.
Sayfalar arası geçişte bir formdan diğerine navigator.push ile data aktarımı yapıyorum. DocumentSnapshot dan bir data çekip diğer forma çekiyorum. Benim amacım çekmiş olduğum datayı bir kayıt fonksiyonu içinde göstererek otomatik kayıt yapmak.
Kodlarımı alt kısımda göstereceğim. Yardımcı olabilecek fikir sunabilecek olursa şimdiden çok teşekkür ederim.
--Data çektiğim Form
floatingActi

[2022-08-10 14:40] osmancan23 opened #103 "Custom widget'dan value dönme işlemi"
Örneğin bir ekranımız var ekranda bir tane custom expansion tile widget ve buton var. Ve biz buraya bir kullanıcı listesi gönderiyoruz . Bu widget bu listede değişiklikler yapıyor ekleme çıkarma gibi ardından ben ana sayfamdaki butona tıkladığımda o expansion tile a gönderdiğim listenin değişiklik yapılmış haline nasıl erişebilirim. Tabi ki state management yöntemleri kullanılarak listeyi güncelle

[2022-08-12 14:50] memin745 opened #104 "Flutter firebase Authentication"
Firebase ile kurulumu yaptık fakat uygulamadan her cıktığında tekrar giriş istiyor ne yapabilirz ?

[2022-08-13 09:28] aydemiromer commented on #104
Selamlar, landing screen yaparak firebase ile giriş yapan kullanıcı olmuş mu olmamış mı bunu dinleyebilirsin, initial sayfanı landing sayfası yapıp bu sayfada kullanıcı varsa anasayfana yoksa login sayfana yönlendirmen gerek

[2022-08-13 09:29] aydemiromer commented on #104
class LandingPage extends StatelessWidget {
  const LandingPage({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    IAuthenticationService authenticationService =
        AuthenticationService(FirebaseAuth.instance, GoogleLogin(), AppleSocialLogin());
    final auth = authenticationService.authStateChanges();
    return StreamBuilder<User?>(
      stream: auth,

[2022-08-13 09:30] aydemiromer commented on #104
[code]

[2022-08-13 09:30] aydemiromer commented on #104
Şu şekilde bir örnek kullanımım mevcut sen kendi servisini dinleyebilir veya provider ile func. dinleyip yönlendirmeni yapabilirsin

[2022-08-13 09:31] aydemiromer commented on #104
@override
  Stream<User?>? authStateChanges() => firebaseAuth.authStateChanges();

Servisimde bu şekilde dinliyor

[2022-08-13 09:33] aydemiromer commented on #101
shimmer effect ile video açılıyormuş hissiyatı verebilirsin circularprogressten daha iyi görünebilir

[2022-08-13 17:05] skyturkish opened #105 "Generic Base-Service"
Base-Service
[code]

User-Service
[code]

`_userService = UserCloudFireStoreService(collectionName: "user");
`
BaseService'den extend ederek çok rahatlıkla sadece collectionName vererek Firebase'ye yazdırabiliyorum ama alacağı Tipi vermeyi başaramadım, dışarıdan tip verip T.fromMap() ve T.toMap() fonksiyonları gibi şeyleri çalıştırmak istiyorum, generic olur dışarıdan collectionName gibi almak olu

[2022-08-13 20:28] skyturkish commented on #105
https://stackoverflow.com/questions/55850314/dart-abstract-class-of-generic-type-with-named-constructor

https://flutterhq.com/questions-and-answers/1901/abstraction-how-do-i-create-a-generic-static-method-for-several-types-to-flow-through-in-dartflutter

[2022-08-16 08:06] sinanhaci commented on #103
Biraz daha örnekleyerek anlatabilir misin? Kod veya yapmak istediğin şeyin görselini paylaşmak sana yardım etmemizi kolaylaştırır.

[2022-08-16 08:10] #99 closed, assigned to nobody

[2022-08-16 11:13] osmancan23 commented on #103
![Ekran görüntüsü 2022-08-16 140924](https://user-images.githubusercontent.com/83430594/184865455-a1c9aa27-1946-4ef2-8dac-70820d0f7732.png)

Şu şekilde bir custom expansion widgetım var . Buna bir kullanıcı listesi gönderiyorum o da o kullanıcı listesindeki kullanıcıları listeliyor. Ardından ben birkaç kullanıcı seçiyorum ve bu seçtiğim kullanıcıları bir liste içerisine atıyorum. Ardından ben bu s

[2022-08-17 07:39] mehmetshakar opened #106 "html editor"
Merhaba,

flutter da sorunsuz çalışan html editör arıyorum fakat henüz bulamadım.

https://pub.dev/packages/html_editor_enhanced paketini denedim ancak bazen henüz yüklenemedi hatası, bazen donuyor, bazen de işlemciyi çok yoruyor, ayrıca da türkçe dil desteği de yok.

acaba html editör önerisi var mı?

çok teşekkürler.

[2022-08-17 07:44] aydemiromer commented on #106
editör olarak değilde html vs css dosyalarını run edebildiğimiz flutter_html paketi var belki o da işine yarayabilir

[2022-08-17 07:47] mehmetshakar commented on #106
Teşekkür ederim Ömer Bey,

editör olarak lazım.

[2022-08-17 08:02] abdullahkaraboga commented on #106
https://pub.dev/packages/code_editor böyle bir package var belki işinize yarayabilir.

[2022-08-17 08:29] mehmetshakar commented on #106
bu daha çok dosya düzenleme, benim istediğim zengin metin editörü..

çok teşekkür ederim Abdullah bey.

[2022-08-17 12:52] mdizman opened #107 "DataTableiçinde veri yok ise Hata mesajı döndürme"
Merhabalar. Bir projemde verilerimi firebase den çekerek tabloya yazdırma işlemi yapıyorum. DataTable içerisine çektiğim kullanıcı bilgilerinde Eğer kullanıcıda bilgi yok ise ekran ortasında uyarı mesajı döndürmek istiyorum. Kodlarımı aşağıda paylaşacağım fikri olan olursa şimdiden teşekkür ederim.
                      child: DataTable(
                            columnSpacing: 30,

[2022-08-17 13:14] Mustyy61 opened #108 "Listview.builder remove"
Merhabalar eşleştirme mantığına dayanan bir uygulama üzerinde çalışıyorum. Ekranımın üst kısmında eşleştirme yapacağım görseller  alt kısmında da listview.builder içindede eşleşecek görsellerin  isimleri yazmakta. Kullanıcı önce görsel ismine daha sonra görsele tıklıyor eşleşme sağlanırsa görsel ve alt kısımdaki görsel ismi kırmızıya dönüyor. Bu adımdan sonra görsel ismini bandıran  container için

[2022-08-17 16:29] skyturkish commented on #108
kodu da paylaşır mısın

[2022-08-18 11:16] mehmetshakar opened #109 "otomatik div içini refresh etme"
Merhabalar değerli arkadaşlar,

şöyle bir işlem talebim var:

php tabanlı emlak ilan sitesi var.
ilan eklelerken veya güncellerken resim ekleme işlemini, telefondaki resimleri ekletmek için telefona bildirim göndererek seçilen resimler sunucuya gönderilip veritabana kaydediliyor.

sorun şu: bu süre içinde internet sayfası açık olup herhangi bir değişiklik görünmüyor,
resimlerin eklendiğini haber e

[2022-08-18 12:09] Mustyy61 commented on #108
onTap: () {
          setState(() {
            if (platoNameIndeks == widget.imageId) {
              platoNameList.remove('Bozok');
            }
});

[2022-08-18 22:30] Barismano commented on #102
hocam datanın pass edildiği sayfada datayı "widget.data" gibi bi ifade ile kullanılması lazım yanlış hatırlamıyorsam

istersen flutter döküman > https://docs.flutter.dev/cookbook/navigation/passing-data

[2022-08-19 08:41] #78 closed, assigned to nobody

[2022-08-20 10:34] #106 closed, assigned to nobody

[2022-08-20 10:35] #109 closed, assigned to nobody

[2022-08-20 10:43] mehmetshakar commented on #86
Merhaba, Sormuş olduğunuz sorunu düzeltiniz mi? ben de aynı sorunu yaşıyorum da... çözdüyseniz nasıl çözdüğünüzü anlatabilir misiniz?

teşekkürler.

[2022-08-20 19:39] yusufkecer opened #110 "Google maps custom marker"
Merhaba arkadaşlar, google mapste kişiselleştirilmiş marker göstermeye çalışıyorum kısaca amacımdan bahsedeyim;
` List<Map<String, dynamic>> userLocations = [
{"id": 0, "address_lat": 15, "address_lng": 30, "type": "home"},
{"id": 1, "address_lat": 23, "address_lng": 30, "type": "home"},
{"id": 2, "address_lat": 21, "address_lng": 30, "type": "market"},
{"id": 3, "address_lat": 16, "address_lng":

[2022-08-22 08:57] sinanhaci commented on #110
Selam,
Öncelikle asset dosyasındaki resmi BitmapDescriptor tipine dönüştürmen gerekiyor , bunun için :
`
    var customMarker = await BitmapDescriptor.fromAssetImage(
        const ImageConfiguration(
          size: Size(100, 100),
        ),
        AssetsConstants.directionMarker);
`
Sonrasında bunu marker'ın icon kısmına set etmen gerekiyor:
`
    marker.add(
      Marker(
          onTap: ()

[2022-08-22 08:58] sinanhaci commented on #108
Yardımcı olabilmemiz için daha detaylı kod paylaşmanız gerekiyor, bu şekilde size yardımcı olmamız pek mümkün değil :)

[2022-08-22 11:01] Mustyy61 commented on #108
YENİ ÖĞRENMEYE ÇALIŞIYORUM KODUM KÖTÜ GÖZLERİNİZ KANAYA BİLİR KUSURA BAKMAYIN :)

@override
  Widget build(BuildContext context) {
    return SafeArea(
        child: Scaffold(
      backgroundColor: Color.fromARGB(255, 57, 185, 232),
      body: Column(children: [

        Stack(children: [
          Image.asset(
            "assets/gri.png",
            fit: BoxFit.cover,
            height: con

[2022-08-24 12:36] urazalkis opened #111 "Macbook M1 Podfile Hatası"
Merhabalar,MacOS Monterey 12.5.1 M1 Chip kullanıyorum. Flutter ios build ettiğimde "An error occurred while processing the post-install hook of the Podfile." hatası alıyorum.Buraya yazmadan önce stackoverflow'da  birkaç gün uğraşıp birçok şey denedim ama hiçbiri işe yaramadı.
Uyguladığım bazı çözümler,
https://stackoverflow.com/questions/64901180/how-to-run-cocoapods-on-apple-silicon-m1/65334677#6

[2022-08-25 04:22] Eldar2021 opened #112 "FCM, OneSignal, AWS push notification önerileriniz."
Hepinize merhabalar. Flutterde bildirim (push notification) göndermek için hangi teknolojileri kullanmak iyidir sizce? İnternetten bakarsak FCM (firebase cloud messaging), OneSignal, AWS leri gösteriliyor siz production projemizde hangisini kullandınız önerileriniz varmı?

[2022-08-25 08:29] FurkanAkbiyik opened #113 "Flutter&IoT projesi"
Merhabalar, Flutter'ın MQTT kütüphanesini kullanarak, temperature data logger cihazıyla ortamın sıcaklığını ölçen ve herhangi bir sorunda bilgi veren bir uygulama yapmak istiyorum. Yol haritam nasıl olmalı? Şimdiden teşekkürler.

[2022-08-25 10:26] sinanhaci commented on #112
Aws hariç diğer ikisini deneyimledim, yaşanılan sorunlara çözüm bulma, kurulum ve entegrasyon dökümanları gibi konularda firebase bana daha efektif geliyor. Ben firebase kullanmanı öneririm.

[2022-08-25 16:07] Eldar2021 commented on #112
teşekkür ederim

[2022-08-25 16:07] Eldar2021 commented on #112
teşekkür ederim

[2022-08-25 16:07] #112 closed, assigned to nobody

[2022-08-26 12:19] Eldar2021 opened #114 "Flutter: workmanager, flutter_local_notification!"
Selamlar, uygulamamda her gün 2 kez database request gönderip, gelen response göre bildirim(notification) çıkartmam gerekir.
Sorun uygulama kapalıyken de yazdığım dart kodları çalışması gerek. Ben [workmanager](https://pub.dev/packages/workmanager) background service için ve [flutter_local_notifications](https://pub.dev/packages/flutter_local_notifications) kullandım.  Android sisteminde sıkıntısı

[2022-08-26 12:28] aea91 commented on #114
Tam da burada Native katmanı devreye giriyor. IOS Native ile servis yazmanız gerek. Flutter ın bu konuda eli kolu bağlı.

[2022-08-26 12:51] berkayhh opened #115 "JSON Parse"
Selamlar elimde olan bir JSON Ciktisini ekranda Web olarak Getx ile göstermeye calisiyorum,
kaynak Kodum burada, fakat Webde ekrani Build ettikten Sonra hicbir sekilde ekrana yazi gelmiyor , sadece Pop up olarak actigimda yaziyi görebiliyorum, ekranin build etmesinden önce bir funktionu calistirip sonrasinda ekrani build etmesini nasil yapabiliriz ? Birde JSON ciktisini nasil bir modal haline cevi

[2022-08-26 13:25] sinanhaci commented on #115
Siz açılan dialogda mı apiden gelen bilgileri göstermek istiyorsunuz yoksa mevcut sayfada mı?

[2022-08-27 08:49] #110 closed, assigned to nobody

[2022-08-29 05:48] kasapiniz opened #116 "Flutter AppLifeCyle Backend Servis Connection"
Merhabalar, Uygulama kapatıldığı zaman bir olay tetiklendiğinde ilgili backend servisine ulaşım nasıl yapılır. yoksa arka planda da backend hizmetlerimizi acık tutmamız mı gerekiyor.
(benim seneryom bildirim geldiğinde servisi tetiklemek istiyorum.)
Kolay gelsin.

[2022-08-29 09:17] sinanhaci commented on #116
Selamlar yapacağın işleme göre uygulayacağın senaryo epey değişir. Bildirimlerde firebase kullanıyorsan eğer https://firebase.flutter.dev/docs/messaging/usage Buradaki "Background Messages" kısmına göz atabilirsin. Ancak dediğim gibi yapmak istediğin işlem, uygulayacağın yöntemi belirler.

[2022-08-29 14:29] kasapiniz commented on #116
Yapmak istediğim işlem uygulama kapalıyken gelen bildirim üzerinden karşı kullanıcıya mesaj atmak.ben burada socket kullanıyorum. Firebasede bacground işlerimi hallediyordum ama uygulama kapalıyken connection olamıyorum. Bunu restful api ile mi iletmem gerekiyor tam anlayamadım.

[2022-08-30 12:04] #108 closed, assigned to nobody

[2022-08-31 10:15] pinarmusa opened #117 "Flutter için html,CSS, jsden temel gerekli mi?"
Veli hocam, ben html ve CSS çalıştım hatta JavaScript bile birazcık ilerledim ama anlamakta güçlük çekiyorum direk sizin videolarinizla yazılıma başlasam anlayabilir miyim yoksa js ve CSS de biraz daha gayret edip temelini oturtup mu başlayayım. Rahatsızlık için özür dilerim. İyi akşamlar.
@VB10

[2022-09-01 23:35] VB10 commented on #117
selam pınar şimdi durum şöyle bence ilk başta en iyi hissetiğin yerden devam et js sardı ise oradan devam edip basit yaızılım prensiplerini çöz. bu çözümden sonra flutter tarafına geçmen çok daha hlzlı ve anlamlı gelecektir  ve bunu okuyaıblrısın
https://docs.flutter.dev/get-started/flutter-for/web-devs

[2022-09-01 23:35] #117 closed, assigned to VB10

[2022-09-02 15:32] osmancan23 commented on #103
`class RawScrollableUsers extends StatefulWidget {
  final List<UserModel> userList;
  final Color? expansionTileWidgetColor;
  final bool? isLimitUserCount;
  final List<UserModel>? initialUser;
  final String? hintText;
  final Function(List<UserModel> userList)? onCompletedChose;`

[2022-09-02 15:44] osmancan23 commented on #103
_Bu issue!yi açalı bayağı zaman geçti eskiden böyle bir işlem için provider gibi state manegement yöntemleri kullanıyordum ama bu bayağı karışık bir sistem oluyordu . Yakın zamanda bunun bir çözümünü buldum . Sizlerle de paylaşmak istiyorum.
Örneğin benim bir userler'i seçebileceğim bir expansion tile widget'ım var. Bu yapı custom şeklinde kullanmak istediğim sayfada bir user list vererek sayfamda

[2022-09-02 15:44] #103 closed, assigned to nobody

[2022-09-03 14:59] fltrprg19 opened #118 "problem with flutter local notification"
i have a problem that when i close the application from the background, the mobile sends me a notification, but when i click on it, it doesn't take me to a notification screen t
he package
flutter_local_notifications
the database
sqlite
state mangment
get

[2022-09-05 12:01] MuhammetAkgoz opened #119 "Annotations Oluşturma"
Merhaba hocam, ben kendi annotationslarımı oluşturmak istiyorum ve bunlara mantıksal anlamlar vermek istiyorum. Mesela bir classın üzerine eklediğim annotation'ım dart analis kısmına çıksın. Bu konu hakkında yardımcı olursanız çok sevinirim, büyük projelerde çok işe yarıyacaktır diye düşünüyorum.

[2022-09-06 07:55] abdullahtas0 commented on #107
Gelen verileri atadığınız listenin uzunluğunu kontrol edebilirsiniz mesela.
userList.length>0 ? DataTable.. : showDialog gibi..

[2022-09-06 08:39] mdizman commented on #107
Hocam bu yapı içinde nerde bu kontrol işlemini yapacağımı bulamadım. üst kısımda çekemiyorum newlist.length yapısını. Liste uzunluğunu üstteki kod satırında nerde kontrol etmem lazım.

[2022-09-06 11:21] Mustyy61 opened #120 "Database önerisi"
Merhabalar Flutterda mobil uygulama  geliştirmeye çalışıyorum. Fakat  veritabanı hakkında bilgim yok. Uygulamanın genel mantığı çoktan seçmeli test soruları ve sorulara ait görsellerden oluşacak bu verileri tutabileceğim sabit ücretli bir veritabanı öneriniz var mı ?
Konu ile ilgili araştırma yaptım fakat tatmin edici sonuçlara ulaşamadım.  Firabase ücretlerinin pahalı olacağı söyleniyor. alternat

[2022-09-06 14:57] abdullahkaraboga commented on #120
Uygulamadaki birim zamanda genel okuma, yazma, silme ve güncelleme rakamlarını tahmin edebilirseniz Firebase kolay, hızlı ve mantıklı olabilir.  [Buradaki](https://firebase.google.com/pricing ) sayfanın en altından hesaplama yapıp ortalama maliyeti görebilirsiniz.

[2022-09-07 12:20] #116 closed, assigned to nobody

[2022-09-08 11:30] mdizman opened #121 "DropDownField multiSelect value"
Merhabalar. Projemde kullandığım DropDownField içinden çoklu veri seçmek istiyorum. Biraz araştırma yaptım ama çözüm bulamadım. Yardımcı olursanız sevinirim.
child: DropDownField(
                                controller: yapabilecegiSporDal,
                                    labelText: "Yapabileceği Spor Dalları",
                                    labelStyle:TextStyle(fontWeight: FontWeight

[2022-09-11 14:19] yagizdo commented on #121
https://youtu.be/NKIISO7mDiI Su video isinizi gorebilir diye dusunuyorum.

[2022-09-13 08:26] mdizman opened #122 "TextEditingController validator kontrolü"
Merhaba TextEditingController dan aldığım datayı validator ile kontrol ettirerek firebase e kaydetmek istiyorum ama hata alıyorum. Type hatası olduğunu söylüyor program ama yardımcı olabilir misiniz?

import 'package:flutter/material.dart';
class SporcuKayit extends StatefulWidget {

  @override
  _SporcuKayitState createState() => _SporcuKayitState();
}
class _SporcuKayitState extends State<Sporc

[2022-09-13 20:15] Barismano commented on #122
Hocam bence Column un içindeki formlara gerek yok zaten body i form ile sarmışsın birde öyle dene istersen

[2022-09-13 20:35] Barismano commented on #118
Maybe this video is helpful > https://youtu.be/u3AAmAzynjk

[2022-09-14 08:43] mdizman opened #123 "FirebaseFirestore document adı değiştirme"
Merhaba. FirebaseFirestore içine kaydetmiş olduğum document adını update fonksiyonu ile değiştirmek mümkün mü ?
kullaniciGuncelle(){
    _firestore.collection('kullanici')
      .doc(widget.kullaniciTc) // Bu kullanıcının güncelleme işlemi yapılıyor fakat document adı güncellenmiyor çöz
      .update({
        'a_brans':brans.text,
        'b_adsoyad':adsoyad.text,
        'c_tc':tc.text,

[2022-09-14 12:43] mustafaozzkn opened #124 "Google Play Arka Plan Konum Erişim İzni Reddi"
Merhaba,
Google play'e arka plan konum erişim izni olan bir app yükleyeceğim. Sürekli aşağıdaki maili alıyorum. Daha önce karşılaşan oldu mu?

androidmanifest.xml içerisine ACCESS_BACKGROUND_LOCATION iznini de ekliyorum.

<img width="841" alt="image" src="https://user-images.githubusercontent.com/88532533/190148593-5ff5ee11-51d2-45cc-9e99-21119e79a2b9.png">

[2022-09-14 22:14] VB10 commented on #81
elinize sağlık

[2022-09-14 22:14] #81 closed, assigned to hakanpeksen, abdullahkaraboga, okmsbun

[2022-09-14 22:14] VB10 commented on #85
elınzıe salgık

[2022-09-14 22:14] #85 closed, assigned to sinanhaci

[2022-09-14 22:15] #86 closed, assigned to abdullahkaraboga, sinapsis793, sinanhaci

[2022-09-14 22:15] #87 closed, assigned to nobody

[2022-09-14 22:15] #100 closed, assigned to nobody

[2022-09-14 22:15] #101 closed, assigned to nobody

[2022-09-14 22:15] #102 closed, assigned to nobody

[2022-09-14 22:15] #104 closed, assigned to nobody

[2022-09-14 22:15] #105 closed, assigned to nobody

[2022-09-14 22:15] #107 closed, assigned to nobody

[2022-09-14 22:15] #111 closed, assigned to nobody

[2022-09-14 22:15] #113 closed, assigned to nobody

[2022-09-14 22:15] #114 closed, assigned to nobody

[2022-09-14 22:15] #115 closed, assigned to nobody

[2022-09-14 22:15] #118 closed, assigned to nobody

[2022-09-14 22:15] #119 closed, assigned to nobody

[2022-09-14 22:16] #120 closed, assigned to nobody

[2022-09-14 22:16] #121 closed, assigned to nobody

[2022-09-14 22:16] #122 closed, assigned to nobody

[2022-09-14 22:16] #123 closed, assigned to nobody

[2022-09-14 22:16] #124 closed, assigned to nobody

[2022-09-15 10:31] mdizman opened #125 "MultiSelectDialogField data güncelleme"
Herkese merhaba. Fikir almak istediğim bir konu var.
Projemde MultiSelectDialogField ile çoklu seçim yaparak datalarımı firebase e liste olarak kaydediyorum. Bu dataların güncelleme işlemini yapmak istiyorum. Güncelleme ekranına geldiğimde seçim yapacağımda önceden eklemiş olduğum dataları tikli olarak gösteremiyorum. Kodlarımı aşağıda paylaşacağım. Fikri olan varsa şimdiden çok teşekkür ederim.

[2022-09-16 08:51] sinanhaci opened #126 "Android 12 Splash Screen Sorunu"
Selamlar,

Android 12 de ayarladığım splash screenin background color'ı gözüküyor ancak icon gözükmüyor.

Denediklerim:
build.gradle'a => implementation 'androidx.core:core-splashscreen:1.0.0-beta02' ekledim.
style.xml dosyama => windowSplashScreenAnimatedIcon alanını ekledim.

Teşekkürler

[2022-09-18 06:01] mdizman commented on #125
initialValue kullanarak kaydettiğim dataları çekebiliyorum fakat üstüne seçim yaptığımda yada seçili elemanın seçimini kaldırdığımda ana liste üzerine aynı seçili elemanları ekliyor buna nasıl bir çözüm üretebilirim

[2022-09-20 15:10] ufuklc opened #127 "CS bölümleri dışından gelen birileri için öneri"
Veli abi merhaba, ben yeni mezun inşaat mühendisiyim. Mesleğimi yapmak istemediğim için 1 yıl önce kadar veri analizine yöneldim. Python vs. çalışırken yazılımdan keyif aldığımı farkedip bilgimi ilerletmeye başladım. Geçmişten c# ve biraz java temelim var. Şimdi de hem frontend hem de backend alanında ilerlemek için js,react,angular,dotnet,c#,java tarafında kendimi geliştirmek istiyorum. Bu yola b

[2022-09-20 21:22] VB10 commented on #126
@sinanhaci bu konuda ben suan bir problem yaşamadım ama icon coloru xml de düzelmiştim bende bir bakayım o tarafa belki başkası görüp destek atar

[2022-09-20 21:24] VB10 commented on #125
bu şekilde hem kodu okumak zor hemde genel olarak ne çözüm üretmeyi burada basit kod paylaşıp komplexi muhakkak giste koymanı tavisye ederim. bu yapıda sayfada kaydettiklerini local dbde or provider gibi üst bir contexte saklayıp açıldığında sayfayı bun işlemleri çekerke yapabilrsin kolay gelsin

[2022-09-20 21:24] #125 closed, assigned to VB10

[2022-09-20 21:28] VB10 commented on #127
selamlar burada önemli olan noktalar şunllar

- bir çok alana hakim olmaya çalışmak güzel fakat yeni başlarken yorabilir .net or java gibi backend dillerini üstünede sql nosql gibi db yaklşaımlarını katmak güzel olabilir
- front dersen react seçerek popülertisinden ötürü ilerleyebilirsin ama yine burada önemli olan js mantığına hkaim olmak
- kuurumsalda daha native diller seçileceği içinde android

[2022-09-20 21:28] #127 closed, assigned to VB10

[2022-09-20 21:36] ufuklc commented on #127
Cevapladığın için çok teşekkür ederim abi :)

[2022-09-21 12:08] sinanhaci commented on #126
@VB10  Eğer benim gibi yapıyorsanız sizde farketmemiş olabilirsiniz ancak bazı android cihazlarda gözükmüyor koyulan icon.  Hem kodları görmeniz hemde check etmeniz için anlaşılabilir olması adına görselleri ekliyorum.

---color.xml---
![Screen Shot 2022-09-21 at 15 04 41](https://user-images.githubusercontent.com/77547319/191499204-ffd4be40-d525-454b-b233-32fa4bd7a06c.png)

---styles.xml---
![Scr

[2022-09-24 11:23] mehmetshakar opened #128 "https://pub.dev/packages harici referans ekleme"
Merhabalar,

flutter projesine https://pub.dev/packages aracığıyla pubspec.yaml dosyasına referans eklemeden, mevcut başka proje klasöründen referans eklemek istiyorum. Nasıl yapabilirim? mümkün mü acaba?

teşekkürler

[2022-09-26 13:30] sinanhaci commented on #128
Mümkün tabiki, oluşturduğun paketi public olarak kendi github hesabından da çekebilirsin veya file olarak proje içerisine atıp o şekilde de kullanabilirsin.

File olarak kullanmak için, kütüphaneyi projenin ana dosyasına at ve pubspec kısmına:
`
  paket_adi:
    path: ./paketin_pathi
`
Eğer kendi github'ından veya bir başkasının github'ından çekmek istiyorsanda:
`
  custom_image_viewer:
    git:

[2022-09-26 13:34] mehmetshakar commented on #128
çok teşekkür ederim, Sinan Bey.

[2022-09-26 13:34] #128 closed, assigned to nobody

[2022-09-27 11:12] Eldar2021 opened #129 "Deep link, Universal link IOS"
Merhaba. Ben [uni_links](https://pub.dev/packages/uni_links) paketi ile çalışıyorum. Android'de iyi çalışıyor, ancak sorun IOS'ta ortaya çıktı. IOS unversal link scheme _https_ ve _http_ olduğu zaman hep safaride açılır. Documanlara baktım [doc](https://developer.apple.com/library/archive/documentation/General/Conceptual/AppSearch/UniversalLinks.html) ve documana göre **_apple-app-site-association

[2022-09-27 19:43] hakandl opened #130 "ListView.builder [index]"
merhaba, listview.builder içinde API'den gelen veriler listeleniyor, gelen veri birden fazlaysa [index] verildiginde normal sekilde sorunsuz calisiyor. ama gelen veri tek elemanli veriyse RangeError hatası veriyor. birkac yol denedim fakat tam olarak istedigim sonucu vermedi, bu konuyla ilgili fikriniz varsa paylasabilir misiniz?
<img width="528" alt="listview" src="https://user-images.githubuserc

[2022-09-29 17:58] themumy10 opened #131 "Singleton - Static Methods"
Hocam merhaba. Örnek vererek sorumu açıklamak istiyorum. Örneğin bir hesap makinesi yapmak istiyorum ve hesaplama işlemleri ile ilgili tüm fonksiyonları(çarpma, bölme vs) bir sınıfta tutmak istiyorum. Bu sınıfı singleton patern ile hazırlayarak abstract olarak bir üst sınıf yazmak mı daha doğru yoksa sınıfı yine abstract olarak yaparak fonksiyonları statik yazıp singleton yapmamak mı daha doğru ol

[2022-09-29 21:54] VB10 commented on #131
singleton yapmak diye bir esy yok aslinda projelerde bu kullanim her zaman sorun cikartaiblir
https://www.oreilly.com/library/view/essential-actionscript-30/0596526946/ch04.html

Burada yapman gereken bir soyut sinifla methodalrini tanitipp uzerinden bundan tureyen classlar yapmak singleton yapmana gerek yok ihtiyaci olan sinifi kullanir ve isi bitince dispose eder buda performasn saglar.

[2022-09-29 22:00] VB10 commented on #126
bunu stackoverflowa flutter etiketyle carsan daha hizli cevap alirsin bende bir sorun yakalymadim

[2022-09-29 22:00] #126 closed, assigned to VB10

[2022-09-29 22:01] VB10 commented on #129
bunu websitene yuklemen gerekiyor index rootuna. bu dosyayi elle olusturup  https://gist.github.com/mat/e35393e9dfd9d7fb0972 buradaki ornekteki gibi yapabilirsin

[2022-09-29 22:01] #129 closed, assigned to VB10

[2022-09-29 22:02] VB10 commented on #130
tek elemanli ise index tektir zaten burada baska bir lsite degeri set edilmis gozden kacan basit bir hata var duruyor gelen cevaba bakmak debug etmek lazim

[2022-09-29 22:02] #130 closed, assigned to VB10

[2022-09-29 22:03] #131 closed, assigned to VB10

[2022-09-29 22:27] themumy10 commented on #131
Teşekkürler hocam

[2022-09-30 03:07] Eldar2021 commented on #129
Teşekkür ederim aradığım tam buydu.

[2022-10-02 09:02] tatkaciran opened #132 "."

[2022-10-02 09:13] #132 closed, assigned to nobody

[2022-10-02 14:24] VB10 commented on #132
@tatkaciran cevap verecektim aslında ama kaptmıssın gördüm hiç pes etme her şey olur

[2022-10-05 10:47] abdullahtas0 opened #133 "Seçili ve seçili olmayan RadioButtonListTile durumuna göre Renk Değişimi"
Herkese selamlar. Card widgetine child olarak radiobuttonlisttile verdim. Bu radioyu değiştirebiliyorum seçili hale getirebiliyorum ancak bir sorunum var.
Verilerini Sqlite ile aldığım yapımda istediğim şey; Seçtiğim radiobuttona göre card widgetinin rengini değiştirmek. Yani 5 card widgetim varsa bunlardan seçili olan radionun card rengi turuncu seçili olmayanların ise beyaz olmasını istiyorum. U

[2022-10-05 10:57] MuhammedKpln commented on #133
Öncelikle radio degerini(veya o rengi verebilecek herhangi bir seyi) databaseden saklaman lazim. Bir enum olusturmani öneririm, enum icerisinde color degerlerini saklayip veriyi cektikten sonra bunu parselayip card activeColor degerine atayabilirsin. Daha temiz bir kod elde edebilirsin bu sekilde.

[code]

Modelinizi bu enuma göre olusturursaniz parse ettikten sonra yapmaniz gereken sey ```model.r

[2022-10-05 15:02] ysmltr opened #134 "maps ve list hakkında bir soru"
veli abi selam rahatsiz ettigim icin ozur dilerim ama bir problemim var
void main(List<String> args) {
  Map<String, String> foodCalories = {
    'americano': '15kj',
    'cookie': '125kj',
  };

  foodCalories['latte'] = '223kj';
  foodCalories['fresh-filter-coffee'] = '12kj';
  print(foodCalories);

  /*print(students[0]+',your calorie is,'+foodCalories.keys.elementAt(0)+': '+ foodCalories.value

[2022-10-05 15:21] MuhammedKpln commented on #134
Students bir liste olarak vermissin dolayisiyla hangi kullanici tam olarak ne ictigini belirtmemissin. Onun yerine map kullanarak kullanicinin ictigi yemegi veya icecegi yaziyosun, dolayisiyla kullanicinin ne ictigini biliyoruz geriye kalan tek sey onun kalori karsiligini almak. Allttaki kodun cikintisina göz atabilirsin.

[code]

[code]

[2022-10-05 17:08] ysmltr commented on #134
teşekkür ederim

[2022-10-05 18:17] #134 closed, assigned to MuhammedKpln

[2022-10-05 22:31] VB10 commented on #134
@MuhammedKpln supersin

[2022-10-06 10:56] skyturkish opened #135 "Dosya çok uzadıysa "part, part of" ile ayırmak mantıklı mı ?"
https://stackoverflow.com/questions/73972393/what-we-should-do-when-the-file-gets-so-long

[2022-10-06 11:01] MuhammedKpln commented on #135
Kullanilabilir tabiki fakat sahsen ben önermiyorum. Onun yerine dosya cok uzadiysa MVC/MVC-S  yapisina gecis yapmaniz daha mantikli olucaktir, bu sayede servisleriniz, kontrolleriniz, ve ui elementleriniz kendilerine has bir class'ta olduklarindan dolayi kod hem cok okunakli hem de her dosya/class kendi islevini görur dolayisiyla gelistirmesini daha kolaylastirir.

[2022-10-06 11:10] skyturkish commented on #135
her sayfayı viewmodel ve view diye ayırıp parçalıyorum, servislerim genel oldukları için ayrı bir servis klasörünün altında, modellerimde bir çok sayfada kullanıldığı için onlarda ayrı bir models/ altında, Buna rağmen deneme_view.dart klasöründe, daha iyi okunabilmesi extract widget yaptığım zaman sayfa büyüyor, buna çözüm olarak dediğiniz şeylerin bağlantısını kuramadım. Attığım linkteki kodda in

[2022-10-06 12:48] abdullahtas0 commented on #133
Öncelikle çok teşekkür ederim kıymetli vaktinizi ayırıp yanıtladınız için. Esasında ben bool değer tutabilseydi selected parametresini db'de tutup ona göre işlem yaptıracaktım. Bu yazdığınız cevap mantıklı bir hareket olabilir ama ben biraz garip ve belkide bir mantığı olmayan bir yolla çözmeye çalışıyorum :) şöyleki seçilen index ile value eşit değil ise yani şöyle;
[code]
bunu izah edemem ama ça

[2022-10-06 16:05] MuhammedKpln commented on #135
Aslinda kodda gördugum uzere o kadarda fazla bir kod satiri yok, dosyalama islemleri ile beraber cok temiz ve okunakli bir kod var önumde.

- ProductState enum'unu kendine has bir dosyaya veya enumlari tuttugun bir dosyada sakliyabilirsin
- Tum widgetlari parcalamissiniz, bu widgetlari kendine özel bir dosyada tutabilirsiniz, ha derseniz ki bunlar bu sayfaya özel widget o zaman sayfa altinda compo

[2022-10-06 16:08] MuhammedKpln commented on #133
Önemli olan çalışması, it's not a bug it's a feature! :D Tabiki önemli olan sonraında şuan ki yaptığınız çözümün üzerine koyarak devam etmek.

[2022-10-06 16:10] #135 closed, assigned to MuhammedKpln

[2022-10-06 17:49] abdullahtas0 commented on #133
Hocam nazar değdi :D Sorun şu; 3 adet kart listeleniyor ekranda. İlki seçili olarak geliyor ancak ikinci kartı seçtiğimde artık ilk kartı bir daha seçemiyorum 2. ve 3. kartların arasında geçiş yapabiliyorum seçebiliyorum ancak ilk kartı seçemiyorum onchange vs içerisine girmiyor tepki vermiyor :S bunu anlayamadım kodun son hali;

[code]

[2022-10-07 08:48] safauludogan opened #136 "REQUEST_INSTALL_PACKAGES permission sorunu"
"Uygulamanızın, REQUEST_INSTALL_PACKAGES izninin meşru kullanım alanlarına uygun olmadığı tespit edildi. Daha açık belirtecek olursak iznin kullanımı, uygulamanın temel amacı ile doğrudan ilişkili değil." Güncelleme yayınladığım zaman play_console'dan bu uyarıyı alıyorum ve güncelleme yayınlayamıyorum. İnternetten araştırma yaptığımda open_file paketinin bu izni otomatik kullandığını fark ettim fa

[2022-10-07 15:00] MuhammedKpln commented on #136
`flutter clean` be gradlew cachelerini sifirlamayi yaptiktan sonra tekrar build etmeyi denediniz mi?

[2022-10-07 17:12] MuhammedKpln commented on #133
Controller'i ve state yapisini gorebilir miyim

[2022-10-07 19:03] abdullahtas0 commented on #133
Hocam ios emülatörde çalışmıyor bilmiyorum emülatörün sorunu ama gerçek bir android cihazda mükemmel şekilde çalışıyor. Çok teşekkür ederim sizide yordum yardımlarınız ve tavsiyeleriniz için çok teşekkür ederim

[2022-10-08 06:11] safauludogan commented on #136
Evet hepsini denedim. Kütüphaneyi komple sildim ama yine aynı reddi yiyorum.

[2022-10-08 08:40] #133 closed, assigned to nobody

[2022-10-08 23:51] mysCod3r opened #137 "Routing Hakkında"
Herkese merhaba,
Bir app üzerinde çalışıyorum. Navigation bar da 4 sekme mevcut. Her sekmede başka sayfalara geçiş var.
Örneğin twitter üzerinden anlatmam gerekirse;
Home sekmesinden birinin profiline girdiğimiz zaman bildirim sekmesine geçip tekrar home ekranına dönünce kaldığımız yerden devam ediyor. Benim app de ise profilden çıkıp tekrar anasayfaya dönüyor. Uygulamanın kaldığı state i nasıl ko

[2022-10-09 07:57] skyturkish commented on #137
https://api.flutter.dev/flutter/widgets/IndexedStack-class.html     => bu bottomnavigation bar için

AutomaticKeepAliveClientMixin  => bu da herhangi bir sayfanın state'ini saklaman için

[2022-10-09 08:15] skyturkish commented on #135
Tamam şimdi anladım tam olarak controller mantığını, teşekkürler. bunları da controller'a alırsak, kod muck oluyor tadından yenmiyor.

[2022-10-09 11:26] VB10 commented on #135
supersiniz

[2022-10-09 14:19] MehmetKaranlik commented on #137
Ben pek indexed stacki tercih etmiyorum, tabdeki bütün sayfalrı table beraber initialize ediyor. Onun yerine tabi pageview.builder ile kurup childları da AutomaticKeepAliveClientMixin ile  inherit edip, statelerini korumak daha tatlı benim için. Tab barı da korumak istiyorsan nested navigasyon yöntemlerini inceleyebilirsin. Bkz: auto_router

[2022-10-09 17:08] skyturkish commented on #137
bu daha mantıklıymış, ben de benimkini böyle yapayım bundan sonra.

[2022-10-10 03:52] #137 closed, assigned to nobody

[2022-10-10 21:44] mysCod3r opened #138 "auto_route paketi ile bottom navigation bar"
#137 burdan yola çıkarak projeyi auto_route ile yapmaya başladım.

Twitterda bildirimler sekmesinden tweet detaylarına ordan kullanıcı profillerine rahatça gezinebiliyoruz. Ve bu gezinmeleri yaparken bottom nav bar değişmiyor. Bildirimler sekmesinde kalmaya devam ediyor.

Benim denemelerimde ise bunu başaramadım. bildirimler sekmesinden tweet detaya geçince, bottom nav bar da tweet_detay hangi sek

[2022-10-11 11:44] udanaDbb opened #139 "Provider kullanarak ilişkili dropdownwidget kullanma"
Merhaba bir proje üzerinde çalışıyorum. Elimde json olarak çekilmiş Map<String, List<String>> itemsList tipinde bir veri listesi var. Ben bu veri listesini iki dropdownda il-ilçe şeklinde göstermek istiyorum. Bunun için provider yönetemini kullanarak bir yapı oluşturdum lakin bir türlü üst dropdown da seçtiğim veriyi alt dropdownda gösteremiyorum.

Provider sınıfı

`class CustomProvider extends Ch

[2022-10-11 12:20] #139 closed, assigned to nobody

[2022-10-11 13:31] udanaDbb opened #140 "Flutterda jsondan çekilen veriyi istenen map formatına çevirme"
Elimde böyle(dummy) bir json verisi var :
`
[
   {"MAH_ID" : 10, "MAH_AD" ="AŞAĞI", "ILCE_ID" = 1, "ILCE_AD" = "SARI"},
   {"MAH_ID" : 11, "MAH_AD" ="YUKARI", "ILCE_ID" = 1, "ILCE_AD" = "SARI"},
   {"MAH_ID" : 12, "MAH_AD" ="SAĞ", "ILCE_ID" = 1, "ILCE_AD" = "SARI"},
   {"MAH_ID" : 13, "MAH_AD" ="SOL", "ILCE_ID" = 1, "ILCE_AD" = "SARI"},
   {"MAH_ID" : 14, "MAH_AD" ="LOW", "ILCE_ID" = 2, "ILCE_AD"

[2022-10-11 17:06] MuhammedKpln commented on #140
Buyrun, bu arada veriyi backend tarafında sql ile filtrelemek çok daha mantıklı olucaktır. Veri büyüdükçe sıkıntı çekersiniz client tarafında filtreleme yaparsınız.

Output:

[code]

[code]

[2022-10-12 07:22] udanaDbb commented on #140
merhaba öncelikle yanıtınız için teşekkürler. Veri sabit olduğundan dikkat çekici bir artış olmayacak o konuda bir sorun olacağını zannetmiyorum. Sizin kodunuz çalışıyor lakin ben modelden veri çekip almaya çalıştığımda aşağıda göstereceğim hatayı alıyorum. Sanırım model kısmında bir konfigürasyon yapmam lazım fakat onu da denedim ama bu sefer de json verisini kaybediyorum. Sizden bir yardım daha

[2022-10-12 12:00] udanaDbb commented on #140
sorunu çözdüm yardımlarınız için teşekkürler.

[2022-10-12 12:00] #140 closed, assigned to nobody

[2022-10-13 11:31] udanaDbb opened #141 "Bad state: Tried to read a provider that threw during the creation of its value. The exception occurred during the creation of type CustomProvider."
Merhaba bir page içinde iki ayrı dropdownda ilçe ve mahalle verilerini göstermek istiyorum. Bunun için provider temelli bir yapı oluşturdum lakin sayfa ilk açıldığında yukarıdaki hatayı alıyorum. Programı kapatmadan ana sayfaya geçip tekrardan dropdown sayfasına geçince veriler listeleniyor. Yani ilk build işleminde yukarıdaki hatayı alıyorum. Bunun sebebi ne olabilir ?

Provider sınıfı
`
import '

[2022-10-14 07:23] mysCod3r commented on #141
kodları kod tagi içinde atmadığın için okunurluğu yok ama hatanın dediğine göre veriler tam yüklenmeden sayfa build edilmeye çalışıyor.

[code]

[code]

ya da

[code]

[2022-10-14 10:56] udanaDbb commented on #141
evet haklısınız. Hatayı ana ekranda liseyi doldurarak çözdüm şu an stabil çalışıyor. Yanıt için teşekkürler.

[2022-10-14 10:56] #141 closed, assigned to nobody

[2022-10-15 18:33] Mustyy61 opened #142 "List [ index ] sorunu."
Merhalar Listemteki verileri Text widgetine çekmek istiyorum. Listname[index] kullanımında index'i alamıyorum hata veriyor . Ne yapmam gerekiyor ?

[2022-10-17 11:21] mdizman opened #143 "Textfield klavye kapatma"
Merhabalar. Yapmış olduğum projede textfield a başlangıçta autoFocus özelliği veriyorum. Ama bu textfield için klavyeye ihtiyacım yok dataları kameradan çekiyorum zaten. Acaba Textfield ın klavyesini nasıl kapatabilirim ?

[2022-10-18 10:28] mdizman commented on #143
Sorumu şu şekilde düzenlemek istiyorum. keyboardType: TextInputType.none ile klavyeyi kapatabiliyorum ama bu sefer textfield işlevini kaybediyor. Kameradan aldığım datayı da içine yazamıyorum. Klavyeyi tamamen kapatmak yerine gizlemek gibi bir fonksiyonumuz var mı acaba?

[2022-10-18 11:12] udanaDbb opened #144 "Flutter çoklu dropdown sorunu"
[https://www.veed.io/view/88c27f89-c172-4a38-bef8-42d3bcc6baa3/showcase?sharingWidget=true](url)

Yukarıdaki linkte attığım video kaydında bulunan hatayı alıyorum. Baya çözmeye çalıştım lakin çözemedim. Kodları aşağıya ekliyorum. Yardımlarınız için şimdiden teşekkürler.

Provider sınıfı

[code]

Custom Dropdown Widget
[code]
Kullandığım sınıfın ilgili bölümü
[code]
Ekleme ve silme metodları aslınd

[2022-10-19 01:10] tolgasozbir commented on #143
Merhaba. Öncelikle umarım doğru anlamışımdır, TextField'inize TextEditingController verip kameradan okuğunuz değeri controller.text'e atama yapabilirsiniz, bu sayede aldığınız data TextField'in içine girilmiş olacak. Başlangıçta autoFocus vermek zorunda mısınız bilmiyorum fakat TextField'in onTap parametresini kullanarak bu işlemi yapabilirsiniz.

Örnek kod.

[code]

[2022-10-19 01:13] tolgasozbir commented on #142
Yazdığınız kodu paylaşabilir misiniz

[2022-10-19 13:11] #144 closed, assigned to nobody

[2022-10-25 08:31] burakJs opened #145 "Firebase iOS verifying you're not a robot ekranı kaldırma"
Flutter Firebase telefon numarası ile giriş yapmaya çalışıyorum fakat verifying you're not a robot ekranına zorunlu yönlendirme oluyor her zaman. Bunu nasıl kaldırabilirim ?

<img src=https://user-images.githubusercontent.com/70351342/197723915-2f3d8acb-6e82-4841-8dd7-9c0276d9e92c.png width=200>

[2022-10-25 09:05] burakJs commented on #145
`await auth.setSettings(forceRecaptchaFlow: false);`
Bu kod sayesinde sorun çözüldü

[2022-10-25 09:52] burakJs commented on #145
Uygulamayı silip tekrar yükleyince aynı sayfa gelmeye devam etti

[2022-10-28 12:41] kadirozenn opened #146 "Extension ve Basescreen"
<img width="703" alt="Screen Shot 2022-10-28 at 15 12 43" src="https://user-images.githubusercontent.com/50986996/198586223-dd5bfe90-2303-48d4-83c4-0e37a517c5f4.png">

Resimdeki yuvarlak içine aldığım SizedBox kullanım şekline göre bir farklılığı var mı, varsa hangi yöntemi kullansam daha sağlıklı olur ?

[2022-10-30 00:01] tolgasozbir commented on #146
extension olarak kullanman daha doğru olur bence. Her seferinde sizedbox tanımlamak yerine extension'da tanımlayıp diğer sayfalarına da oradan çağırırsın.

[2022-10-31 06:30] kadirozenn commented on #146
Cevabın için teşekkür ederim. Ama ben SizedBox BaseScreen classında  bi kere tanımlayıp hep ordan çağırıyorum

[2022-10-31 12:44] Eldar2021 opened #147 "Background task IOS platform"
Uygulama arka planda çalışmıyorsa bile her gün iki kez servere request gönderip gelen responsu notification olarak göstermesi gerekir. [Workmanager](https://pub.dev/packages/workmanager) paketi ile Android sisteminde çalıştı. Sorun Bu paket IOS sisteminde `registerPeriodicTask` methodunu desteklenmemesidir. Bu sorunu Flutter ile yada Swift ile nasıl çöze bilirim? Swift ile hiç tecrübem olmadığı iç

[2022-10-31 17:39] safauludogan commented on #136
Kapalı testteki uygulamaları da güncelleyerek sorunu çözdüm.

[2022-10-31 17:39] #136 closed, assigned to nobody

[2022-11-08 19:45] hendeseicode opened #148 "Xcode upgrade sonrası eski iOS version simulator'de nasıl çalıştırırım?"
Xcode 14.1 yükseltmemle birlikte oluşturabileceğim min simulator OS version 13.7 oldu, uygulamamı OS version 11de kullanan cihazlar var, nasıl OS Version 11 bir cihaz oluşturabilirim Xcode'da?

[2022-11-08 19:49] VB10 commented on #148
xcode sag uste prefences oradana platforma basip + tusuyla eski versyonlar yukleyip kullanabilirsin
<img width="942" alt="image" src="https://user-images.githubusercontent.com/17102578/200661113-4516e182-29e5-4ebf-bef3-8a95d81fc77d.png">

[2022-11-08 19:49] #148 closed, assigned to VB10

[2022-11-08 20:02] hendeseicode commented on #148
iOS Version 13.7'den başlıyor ve iOS version 11'de test etmem gerekiyor. Örneğin iOS Version 11'de bir iPphone 8 plus simulator nasıl çalıştırabilirim?

[2022-11-08 20:24] VB10 commented on #148
+ butotuna basinca gelecek o eskiler
<img width="816" alt="image" src="https://user-images.githubusercontent.com/17102578/200667857-baa4bb68-28a3-4519-99ed-5c639bf767bf.png">

[2022-11-08 22:14] VB10 commented on #147
@Eldar2021 bu workmanager ios tarafinda zaten net olarak 3h de bir tetiklenir gibi bir seeyden bahsetmiyor aslinda dokumanini okursan da gorursun. burada bu workmanagerin verdigi disinda native dahil etsen ayni seyi yasayaiblrisin burada yapilabiecek cozum slient notifcation atip belirli araliklara telefonun icinde kod calistirmak buna deneyelbirsin

[2022-11-08 22:14] #147 closed, assigned to VB10

[2022-11-08 22:16] VB10 commented on #138
@mysCod3r kanalda analatimstim bu videonun son kisminda ona bakarsin
https://www.youtube.com/watch?v=QGzVuzjXw2k

[2022-11-08 22:16] #138 closed, assigned to VB10

[2022-11-08 22:18] VB10 commented on #143
bu konuda bir bilgim yok native taraf bakmak lazim

[2022-11-08 22:19] VB10 commented on #142
burada bir sorun yok gibi listviewbuilder ile yaparsan sorun kalmaz

[2022-11-08 22:19] #142 closed, assigned to VB10, tolgasozbir

[2022-11-08 22:19] VB10 commented on #145
@burakJs bunu stackoverlowa acmani tavsiy ederim

[2022-11-08 22:19] #145 closed, assigned to nobody

[2022-11-08 22:20] VB10 commented on #146
@kadirozenn burada yapman gerek en dogursu kendi sizedbox clasini olsuturup bunlari const isareletemek

class x extends sizedbox{
	x.super(height:10)
	}

[2022-11-08 22:20] #146 closed, assigned to VB10

[2022-11-08 22:21] #143 closed, assigned to nobody

[2022-11-09 05:25] hendeseicode commented on #148
<img width="409" alt="image" src="https://user-images.githubusercontent.com/29240246/200745876-5c3bd2e6-3c1a-438c-a465-b71420c08049.png">

En düşük 13.7 izin veriyor
Ventura 13
XCode 14.1

[2022-11-09 06:33] kadirozenn commented on #146
Teşekkür ederim hocam

[2022-11-09 06:42] aea91 commented on #147
IOS bilgisi az olanlar için Silence notification handle etmek için kod parçacığını nereye yazacağız örnek varsa paylaşabilir misiniz?

[2022-11-12 19:38] ahmetbugraozcan opened #149 "SwiftUI servis isteklerini nerede atmalıyız?"
Hocam merhabalar. Bir tabview'ım var ve bu tabview içerisinde 3 farklı ekran var. StateObject olarak oluşturduğum 3 ayrı viewmodeli buradan ilgili sayfalara enject ediyorum. Şu anda network requestleri viewmodellerimin initinde atıyorum bu da demek oluyor ki ilgili tab açılmasa dahi oranın requesti de atılıyor. Viewlarımın initinde atmayı da denedim ama sanırım environmentobjectlere view initlerin

[2022-11-12 19:48] ahmetbugraozcan commented on #149
https://stackoverflow.com/a/64495887/12835029

Şu yanıttaki şekilde bir view modifier oluşturarak sorunu çözdüm.

[2022-11-12 19:48] #149 closed, assigned to nobody

[2022-11-12 20:42] hendeseicode opened #150 "ios notification permisson"
merhaba hocam
iOS emulatorde uygulamam açıldığında **bildirim gönderme izni** istiyor ve **izin veriyorum**, ayarlara baktığımda da şöyle gözüküyor.
<img width="243" alt="image" src="https://user-images.githubusercontent.com/29240246/201493771-bb332215-0e3e-4c31-b8aa-7305c30957dc.png">
ancak kod içerisinde `Permission.notification.isGranted` dediğimde ise `false` dönüyor.
iOS emulator bildirim alm

[2022-11-12 21:17] hendeseicode commented on #150
Firebase messaging authorizationStatus ile granted aldım.
Şimdiki problemim ise şu
uygulama ilk açıldığında messaging.requestPermission ile default izin isteme pop up'ı alabiliyorum, uygulama çalışırken bir t anında tekrar requestPermission dediğimde pop up çıkarmıyor..
ve zaten init anında istenen request permission uygulama ilk çalışması sonrasında diğer ayağa kaldırmalarda da çıkmıyor. Yani bir

[2022-11-15 21:43] ysmltr opened #151 "flutter yeni proje hatasi"
Launching lib\main.dart on Windows in debug mode...
lib\main.dart:1
C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Microsoft\VC\v170\Microsoft.CppCommon.targets(247,5): error MSB8066: Custom build for 'C:\Users\yesim\OneDrive\Masaüstü\development\flutter_full_learn\build\windows\CMakeFiles\44a008bd473b9d10464244e74bf3c435\flutter_windows.dll.rule;C:\Users\yesim\OneDrive\Masaüstü\d

[2022-11-16 00:07] VB10 commented on #151
@yesimltr1 bu konuda bilgim yok ya windows tarafında ama sanki andorid ile lakalı bir durum gibi android studio indirip orada new project diyip run yap bir projeyi açılırsa bence çözülür

[2022-11-16 00:08] VB10 commented on #150
@hendeseicode bunu anlattım buradakinin aynısı olacak network bakılacak
https://www.youtube.com/watch?v=MDAEOmZg8fc&t=2911s

[2022-11-16 00:08] #150 closed, assigned to VB10

[2022-11-16 04:26] ysmltr commented on #151
veli abi selam android studio tarafında herhangi bir hata almadan çalıştırabiliyor ve emülatörü görüntüleyebiliyorum vscode tarafında ise chrome da çalıştırınca emülatör yine açılıyor ancak windows tarafında bu hatayı alıyorum

[2022-11-17 10:01] hendeseicode opened #152 "flutter 3.0 listview reverse refresh"
merhabalar
Flutter 3.0'a yükselttikten sonra projemdeki reverse list view üzerinde pull from down bozuldu ve yukarıdan aşağı doğru çekince refresh ediyor, aşağıdan yukarı çekince etmiyor. Bu da uzun listeler için uygun bi davranış değil.
Eskiden ListView reverse ise refresh işlemini aşağıdan yukarı çekerek yapıyordu otomatik olarak, Flutter 3.0'de bunu değiştirmişler anladığım kadarıyla, ListView

[2022-11-17 10:15] VB10 commented on #152
Sorularını önce stackoverflow a açıp sonra buraya sorarsan daha iyi olacak @hendeseicode

[2022-11-17 10:15] #152 closed, assigned to nobody

[2022-11-19 21:54] emirbagdatli opened #153 "Json dynamic key"
Veli hocam merhaba, öncelikle doğum gününüz kutlu olsun :)

Kullanmak istediğim api'de istenilen idyi direkt key name olarak veren bir object var bunu modele nasıl aktaracağımı kuramadım açıkçası.  Apinin maalesef düzgün bir dökümantasyonu da yok.
[API](https://store.steampowered.com/api/appdetails?appids=1593500)

Servisten verileri okuyor fakat App id olan ilk object keyi "1593500" modele ekleme

[2022-11-22 07:46] isshort opened #154 "Search with delayed"
Merhabalar Herkese
Search icin delay yapmak mantikli mi?
Textfield icinde onChange fonksiyonda her onChange'da servere istek atmasin biraz beklesin bunun icin Future.delayed yapmak gerek yoksa Timer ile kontrol etmek mi gerek yahem baska bir oneriniz varsa

[2022-11-22 14:09] sinanhaci commented on #154
Timer ile yapabilirsin, her değişiklikte timer.cancel(); sonrasında ise timer'i tekrardan set edersin. Bu şekilde sağlıklı çalışır.

[2022-11-23 14:28] urazalkis opened #155 "Flutter BlocBuilder Widget'i Tekrardan Oluşturmuyor"
Herkese merhaba,2 adet listview builder kullandığım listem var.Bu iki liste arasındaki itemleri sürükle bırak şeklinde değiştirmek istiyorum.Bunun için widget'ı draggable ile sarmalıyorum.Problem şurada başlıyor.onDragEnd methodunda cubit ile her işlemde listeden eleman çıkarıp emit ediyorum.State durumunda listedeki eleman sayısı doğru sayıyı verse de ui kısmında listeden eleman eksilmiyor.Ui kıs

[2022-11-23 20:32] emirbagdatli commented on #153
Model üzerinde ilk objecte json.values.first ile ilk datayı yollayınca problem çözüldü

[2022-11-23 20:32] #153 closed, assigned to nobody

[2022-11-25 17:41] emirhalici opened #156 "Flutter App Badge ozelligi"
Selamlar. Bir cok uygulama application badge count ozelligine sahip. Android/iOS'te app'i acmadan once gozuken kirmizi bildirim sayisindan bahsediyorum. Mesela Gmail uygulamasinda muhtemelen 30-40 bildirim var. Bu ozellik icin yaygin olarak [flutter_app_badger](https://pub.dev/packages/flutter_app_badger) kullaniliyor. Plugin sistemini ve ic logic'i dogru sekilde yazdim, iOS tarafinda fiziksel cih

[2022-11-26 10:08] emirhalici commented on #154
Cok guzel bir soru ++
Best practice acisindan, surekli server'a gitmemek icin araya delay koymak mantikli mi?  Mantikli ise @sinanhaci'nin onerisi guzel geldi, cok yerde kullaniliyorsa atomic component yapilip icine gomulebilir. Developer'a acik API'da sadece onChange callback'i alinir iceride timer boilerplate'i gizlice calisir.
Asil soru icin sektorde ne tur cozum kullaniliyor, geneli delay koyu

[2022-11-26 10:21] emirhalici commented on #151
Selam @yesimltr1, Windows destegi yeni geldi ne kadar stabil bilmiyorum ama anlattigin kadariyla olay tamamen Windows build ile alakali.

https://docs.flutter.dev/development/platform-integration/windows/building
Bu kaynakta **Compiling with Visual Studio** basliginda biraz aciklama var. Eger build klasoru olusuyorsa Visual Studio (VS Code degil yalniz dikkat) ile acip anlatildigi gibi build almay

[2022-11-27 17:09] ysmltr commented on #151
@emirhalici oncelikle oneri icin tesekkur ederim yaptigim  seyleri yazacagim
 C:\ klasoru icindeki src dosyasina flutterSDK zip dosyasini 'dosyayi ayikla' yaparak herhangi bir buyuk harf sayi ozel semboller (/_ vb. )gibi olmadan cikarttirdim

uygulama adi buyuk harf sayi ozel sembol kabul etmedi ayni sekilde onu da tekrar duzelttim

eksik olan eklentileri-vscode zaten bu eklentilere seni yonlendir

[2022-11-27 18:11] azaderdogan opened #157 "[Method] Flutter hatalarını nasıl yakalıyorsunuz?"
Merhabalar, error'ları yakalamak için firebase crashlytic kullanıyoruz. Fakat son zamanlardan hataları yakalayamıyoruz. Öğrenmek istediğim aktif olarak en güncel şekilde nasıl hata yakalayıp Crashlytic'e event yolluyorsunuz.
Aktif olarak bu şekilde yakalıyoruz ama dediğim gibi crashlytic kendisi hata veriyor.
https://firebase.flutter.dev/docs/crashlytics/usage#zoned-errors

[code]

[2022-11-27 21:10] #151 closed, assigned to VB10

[2022-11-29 06:41] udanaDbb opened #158 "[Security] This method should not be called on the main thread as it may lead to UI unresponsiveness."
Merhabalar üzerinde çalıştığım uygulamamda webview içeriklerini açarken ios 16 sürümü ve üstündeki sürüme sahip cihazlarda 1 sn önce siyah bir ekran geliyor ardından webview içeriği açılıyor. Ancak ios 16 sürümü altında ki cihazlarda webview içeriği sorunsuz açılıyor. Araştırdığımda ios güncellemesi ve xcode sürümü ile alakalı olduğunu gördüm lakin henüz bir çözüme ulaşamadım. Bu sorunla karşılaşa

[2022-11-30 20:01] sinanhaci commented on #157
Ben son bir kaç aydır sentry kullanıyorum ve iyi olduğunu düşünüyorum, dökümanları da gayet açıklayıcı.
Göz atmak istersen : https://docs.sentry.io/platforms/flutter/

[2022-11-30 20:04] sinanhaci commented on #154
Veli'nin bununla ilgili bir videosu var yanlış hatırlamıyorsam. Ben dediğim gibi yapıyorum, search enumları hazırlayıp (start,loading,error,success...) gibi her bir durum için de widget hazırlıyorum. Sonra tüm projede onu ilgili parametreleri geçerek kullanıyorum. Bir çok proje yaptım ve bir sorunla karşılaşmadım.

[2022-11-30 20:05] sinanhaci commented on #158
Kod paylaşabilir misin?